/virt
/api/virt
**/__pycache__
*.pem
mkcert*
*.db
/images/*
/programming_notes.txt
/Level Up Camps*
/node_modules/*
serverless.y*
.serverless*
api.zip
.env
/app/node_modules/*
/app/dist/*
*.timestamp-*
/api/get_offline_auth_token.py
deployment.yaml
load_balancer.yaml
secrets.yaml
*.bak
cert-manager.yaml
v2_4_7_full.yaml
iam_policy.json
util