<!DOCTYPE html>
<html lang='en'>
<head>
  <title>Level Up Camps</title>
  <meta charset='UTF-8'>
  <link rel='stylesheet' href="{{ url_for('static', path='/style.css') }}">
</head>
<body>
<header class='banner'>
  <div class='banner-item nav-button'>
    <div class='hamburger-button' onclick='slideFromLeft("hamburger-side-nav", "300px")'>
      <img src="{{ url_for('images', path='/hamburger.png') }}"
           alt='Navigation Menu'
           class='hamburger-image'/>
    </div>
  </div>
  <div class='banner-item'>
    <a href='/'><img src="{{ url_for('images', path='/megducation.png') }}" alt='Company Logo' class='logo'/></a>
  </div>
  <div class='banner-item banner-item-end'>
      <span class='dropdown'>
        <button class='dropdown-button'>
          <img src="{{ url_for('images', path='/graduation-hat.png') }}" alt='Sign In/Out'/>
        </button>
        <div class='dropdown-content'>
          <div id='dropdown-no-user'>
            <div><a class='selectable' href='/signin'>Sign in with Google</a></div>
          </div>
          <div id='dropdown-with-user'>
            <div><a class='selectable' href='/profile' id='user-name'></a></div>
            <hr class='h-divider'></hr>
            <div><a class='selectable' href='/signout'>Sign out</a></div>
          </div>
        </div>
      </span>
  </div>
</header>
<div class='content-container'>
  <section class='hamburger-nav' id='hamburger-side-nav'>
    <div id='hamburger-nav-with-user'>
      <!-- Roles and endpoints inserted here -->
    </div>
    <div id='hamburger-nav-no-user'><a href="/signin">Sign in with Google</a></div>
  </section>
  <section class='content' id='main'>
    {% block content %}{% endblock %}
  </section>
</div>
<footer>
  <nav class='footer-nav'>
    <a href='#' class='footer-nav-link'>About</a>
    <a href='/' class='footer-nav-link'>Home</a>
    <a href='#' class='footer-nav-link'>Contact</a>
  </nav>
</footer>
<script src="{{ url_for('js', path='/http.js') }}"></script>
<script src="{{ url_for('js', path='/datamodels.js') }}"></script>
<script src="{{ url_for('js', path='/util.js') }}"></script>
<script>
  function commonOnLoad() {
    http.get('/user').then((user) => {
      if (user) {
        hide('dropdown-no-user');
        unhide('dropdown-with-user');
        document.getElementById('user-name').innerText = user.full_name;

        hide('hamburger-nav-no-user');
        unhide('hamburger-nav-with-user');
      }
      else {
        unhide('dropdown-no-user');
        hide('dropdown-with-user');
        document.getElementById('user-name').innerText = '';

        unhide('hamburger-nav-no-user');
        hide('hamburger-nav-with-user');
      }
    });

    http.get('/user/roles').then((roleList) => {
      let outerBox = document.getElementById('hamburger-nav-with-user');
      for (const role of roleList) {
        if (roleList.length > 1) {
          let title = document.createElement('h1');
          let displayName = role.name.toLowerCase();
          displayName =  displayName.charAt(0).toUpperCase() + displayName.substring(1, displayName.length);
          title.innerText = displayName;
          outerBox.appendChild(title);
        }

        for (const [endPoint, endPointLabel] of Object.entries(role.permissible_endpoints)) {
          let box = document.createElement('div');
          outerBox.appendChild(box);

          let link = document.createElement('a');
          link.classList.add('selectable');
          link.href = endPoint;
          link.innerText = endPointLabel;
          box.appendChild(link);
       }
      }
    });
  }
</script>
{% block script %}{% endblock %}
</body>
</html>