<!DOCTYPE html>
<html lang='en'>
<head>
  <title>Level Up Camps</title>
  <meta charset='UTF-8'>
  <link rel='stylesheet' href="{{ url_for('static', path='/style.css') }}">
</head>
<body>
<header class='banner'>
  <div class='banner-item nav-button'>
    <button class='hamburger-button' onclick='slideFromLeft("hamburger-side-nav", "300px")'>
      <img src="{{ url_for('images', path='/hamburger.png') }}"
           alt='Navigation Menu'
           class='hamburger-image'/>
    </button>
  </div>
  <div class='banner-item'>
    <a href='/'><img src="{{ url_for('images', path='/megducation.png') }}" alt='Company Logo' class='logo'/></a>
  </div>
  <div class='banner-item banner-item-end'>
      <span class='dropdown'>
        <button class='dropbtn'>
          <img src="{{ url_for('images', path='/graduation-hat.png') }}" alt='Sign In/Out'/>
        </button>
        <div class='dropdown-content'>
          {% if user_id is none %}
            <div class='dropdown-item menu-font'><a class='selectable' href='/signin'>Sign in with Google</a></div>
          {% else %}
            <div class='dropdown-item menu-font'><a class='selectable' href='/profile'>{{user_name}}</a></div>
            <hr class='h-divider'></hr>
            <div class='dropdown-item menu-font'><a class='selectable' href='/signout'>Sign out</a></div>
          {% endif %}
        </div>
      </span>
  </div>
</header>
<div class='content-container'>
  <section class='hamburger-nav' id='hamburger-side-nav'>
    {% if user_id is not none %}
      {% for role in roles %}
        <div class="hamburger-nav-role">
          {% if roles|length > 1 %} <h1>{{role.name|title}}</h1> {% endif %}
          {% for link_tgt, link_label in role.permissible_endpoints.items() %}
            <div class="hamburger-nav-role-link menu-font"><a class='selectable' href="{{link_tgt}}">{{link_label}}</a></div>
          {% endfor %}
        </div>
      {% endfor %}
    {% else %}
      <div class="hamburger-nav-role-link menu-font"><a href="/signin">Sign in with Google</a></div>
    {% endif %}
  </section>
  <section class='content' id='main'>
    {% block content %}{% endblock %}
  </section>
</div>
<footer>
  <nav class='footer-nav'>
    <a href='#' class='footer-nav-link'>About</a>
    <a href='/' class='footer-nav-link'>Home</a>
    <a href='#' class='footer-nav-link'>Contact</a>
  </nav>
</footer>
<script>

  class EasyHTTP {
    async redirect(url) {
      window.location.href = url;
    }

    async get(url, id = null) {
      var tgtUrl = url
      if (id) { tgtUrl += '/' + id }
      const response = await fetch(tgtUrl, {
        method: 'GET',
        headers: {
          'Content-type': 'application/json'
        }
      });
      const resData = await response.json();
      return resData;
    }

    async delete(url, id) {
      await fetch(url + '/' + id, {
        method: 'DELETE',
        headers: {
          'Content-type': 'application/json'
        }
      });
    }

    async put(url, id, data) {
      const bodyJson = JSON.stringify(data);
      const response = await fetch(url + '/' + id, {
        method: 'PUT',
        headers: {
          'Content-type': 'application/json'
        },
        body: bodyJson
      });
      const resData = await response.json();
      return resData;
    }

    async post(url, data) {
      const bodyJson = JSON.stringify(data);
      const response = await fetch(url, {
        method: 'POST',
        headers: {
          'Content-type': 'application/json'
        },
        body: bodyJson
      });
      const resData = await response.json();
      return resData;
    }
  }
  const http = new EasyHTTP;

  function slideFromLeft(elementId, width) {
    elem = document.getElementById(elementId);
    mainElem = document.getElementById('main');
    if (elem.style.left == '0px') {
      elem.style.left = '-' + width;
      mainElem.style.marginLeft = '0px';
    }
    else {
      elem.style.left = '0px';
      mainElem.style.marginLeft = width;
    }
  }

  function hide(elemIds) {
    if (elemIds.constructor != Array) {
      elemIds = [elemIds];
    }
    for (const elemId of elemIds) {
      elem = document.getElementById(elemId);
      elem.hidden = true;
    }
  }

  function unhide(elemIds) {
    if (elemIds.constructor != Array) {
      elemIds = [elemIds];
    }
    for (const elemId of elemIds) {
      elem = document.getElementById(elemId);
      elem.hidden = false;
    }
  }

  function edit(elemIds) {
    if (elemIds.constructor != Array) {
      elemIds = [elemIds];
    }
    for (const elemId of elemIds) {
      elem = document.getElementById(elemId);
      if (elem.tagName == 'TEXTAREA' || elem.tagName == 'INPUT') {
        elem.readOnly = false;
      }
      else if (elem.tagName == 'SELECT') {
        elem.disabled = false;
      }
      else {
        elem.contentEditable = true;
      }
    }
  }

  // Filterable and searchable table class

  const FilterType = {
    Tags: "Tags",
    IntRange: "IntRange"
  };

  function template(strings, ...keys) {
    return (values) => {
      const dict = values[values.length - 1] || {};
      const result = [strings[0]];
      keys.forEach((key, i) => {
        const value = Number.isInteger(key) ? values[key] : dict[key];
        result.push(value, strings[i + 1]);
      });
      return result.join("");
    };
  }

  class FilterValue {
    constructor(value, filter, htmlBox, colIdx) {
      this.value = value;
      this.filter = filter; // for deletion
      this.htmlBox = htmlBox; // for deletion
      this.colIdx = colIdx;
      this.selected = true;
      this.rows = [];
    }

    appendRow(row) {
      row.filterValuesByCol[this.colIdx].push(this);
      this.rows.push(row);

      // This is a little funny, but it will ensure that when we
      //  add a row that's already unselected, it will be noted
      if (!this.selected) {
        this.selected = true;
        this.unselect();
      }
    }

    removeRow(row) {
      var index = this.rows.indexOf(row);
      if (index != -1) {
        this.rows.splice(index, 1);
        if (this.rows.length == 0) {
          this.htmlBox.remove();
          this.htmlBox = null;
          delete this.filter.filterValues[this.value];
        }
      }
    }

    select() {
      if (!this.selected) {
        this.selected = true;
        for (var row of this.rows) {
          row.selectedByFilter[this.colIdx] = true;
          row.filterSetHidden();
        }
      }
    }

    unselect() {
      if (this.selected) {
        this.selected = false;
        for (var row of this.rows) {
          row.selectedByFilter[this.colIdx] = false;
          for (const filterValue of row.filterValuesByCol[this.colIdx]) {
            if (filterValue.selected) {
              row.selectedByFilter[this.colIdx] = true;
              break;
            }
          }
          row.filterSetHidden();
        }
      }
    }
  }

  class CheckBoxValue extends FilterValue {
    constructor(value, filter, colIdx) {
      var container = document.createElement('div');
      var checkBox = document.createElement('input');
      super(value, filter, container, colIdx);
      this.htmlCheckBox = checkBox;

      // Add new filter value
      container.classList.add('checkbox-box');
      filter.filterValues[value] = this;

      // Create checkbox for this new value
      checkBox.type = "checkbox";
      checkBox.checked = true;
      checkBox.checkBoxValue = this;
      checkBox.onclick = function () {
        if (this.checked) this.checkBoxValue.check();
        else this.checkBoxValue.uncheck();
      }

      // Create label for the checkbox
      var label = document.createElement('label');
      label.for = checkBox;
      label.innerText = value;

      // Put it all together
      container.appendChild(checkBox);
      container.appendChild(label);

      // Insert sorted
      var didInsert = false;
      for (var child of filter.htmlFilter.children) {
        if (value < child.lastChild.innerText) {
          filter.htmlFilter.insertBefore(container, child);
          didInsert = true;
          break;
        }
      }
      if (!didInsert) filter.htmlFilter.appendChild(container);
    }

    check() {
      this.select();
      if (this.filter.allValuesSelected()) this.filter.allCheckBox.checked = true;
    }

    uncheck() {
      this.unselect();
      this.filter.allCheckBox.checked = false;
    }
  }

  class IntRangeValue extends FilterValue {
    constructor(range, filter, colIdx) {
      super(range, filter, null, colIdx);
      filter.filterValues[range] = this;

      var fromVal = range[0].toString();
      var toVal = range[1].toString();

      if (!Object.hasOwn(filter, 'fromRange')) {
        var fromRangeBox = document.createElement('div');
        var toRangeBox = document.createElement('div');
        var fromRange = document.createElement('input');
        var toRange = document.createElement('input');
        var fromLabel = document.createElement('label');
        var toLabel = document.createElement('label');
        fromRangeBox.appendChild(fromRange);
        fromRangeBox.appendChild(fromLabel);
        fromLabel.for = fromRange;
        toRangeBox.appendChild(toRange);
        toRangeBox.appendChild(toLabel);
        fromLabel.for = toRange;
        filter.htmlFilter.appendChild(fromRangeBox);
        filter.htmlFilter.appendChild(toRangeBox);

        fromRangeBox.classList.add('range-box');
        toRangeBox.classList.add('range-box');
        fromRange.classList.add('range-input');
        toRange.classList.add('range-input');
        fromLabel.classList.add('range-label');
        toLabel.classList.add('range-label');

        fromRange.type = "range";
        fromRange.min = fromVal;
        fromRange.max = toVal;
        fromRange.value = fromVal;

        toRange.type = "range";
        toRange.min = fromVal;
        toRange.max = toVal;
        toRange.value = toVal;

        filter.fromRange = fromRange;
        filter.toRange = toRange;
        filter.fromLabel = fromLabel;
        filter.toLabel = toLabel;

        fromRange.filter = filter;
        fromRange.userSelectedOnce = false;
        fromRange.oninput = function() {
          var filter = this.filter;
          this.userSelectedOnce = true;
          filter.fromLabel.innerText = this.value;
          filter.toRange.value = Math.max(parseInt(filter.toRange.value), parseInt(this.value)).toString();
          filter.toLabel.innerText = filter.toRange.value;
          for (var [key, filterValue] of Object.entries(filter.filterValues)) {
            if (this.value > filterValue.value[1]) filterValue.unselect();
            else filterValue.select();
          }
        }
        toRange.filter = filter;
        toRange.userSelectedOnce = false;
        toRange.oninput = function() {
          var filter = this.filter;
          this.userSelectedOnce = true;
          filter.toLabel.innerText = this.value;
          filter.fromRange.value = Math.min(parseInt(filter.fromRange.value), parseInt(this.value)).toString();
          filter.fromLabel.innerText = filter.fromRange.value;
          for (var [key, filterValue] of Object.entries(filter.filterValues)) {
            if (this.value < filterValue.value[0]) filterValue.unselect();
            else filterValue.select();
          }
        }
      }
      else {
        filter.fromRange.min = Math.min(parseInt(filter.fromRange.min), fromVal).toString();
        filter.fromRange.max = Math.max(parseInt(filter.fromRange.max), toVal).toString();
        filter.toRange.min = Math.min(parseInt(filter.toRange.min), fromVal).toString();
        filter.toRange.max = Math.max(parseInt(filter.toRange.max), toVal).toString();

        if (filter.fromRange.userSelectedOnce) {
          // If selected once, we may need to filter out this value
          if (parseInt(filter.fromRange.value) > range[1]) this.unselect();
        }
        else {
          filter.fromRange.value = Math.min(parseInt(filter.fromRange.value), fromVal).toString();
        }
        if (filter.toRange.userSelectedOnce) {
          if (parseInt(filter.toRange.value) < range[0]) this.unselect();
        }
        else {
          filter.toRange.value = Math.max(parseInt(filter.toRange.value), toVal).toString();
        }
      }
      filter.fromLabel.innerText = filter.fromRange.value;
      filter.toLabel.innerText = filter.toRange.value;
    }
  }

  class Filter {
    constructor(filterType, colIdx, htmlFilter) {
      this.filterType = filterType;
      this.colIdx = colIdx;
      this.htmlFilter = htmlFilter;
      this.filterValues = {};
    }

    allValuesSelected() {
      var allSelected = true;
      Object.entries(this.filterValues).every(([key, filterValue]) => {
        if (!filterValue.selected) {
          allSelected = false;
          return false;
        }
        return true;
      })
      return allSelected;
    }
  }

  class FilterTableColumn {
    constructor(label, templateFormat, sourceCols, filterType, searchable) {
      if (sourceCols.constructor != Array) sourceCols = [sourceCols];
      this.label = label;
      this.templateFormat = templateFormat;
      this.sourceCols = sourceCols;
      this.filterType = filterType;
      this.searchable = searchable;
    }
  }

  function checkSearchBox(searchBox) {
    const keysToCheck = searchBox.innerText.trim().toLowerCase().split(' ');
    for (var row of searchBox.rows) {
      if (keysToCheck.length == 0) {
        // Nothing searched - include all rows
        row.selectedBySearch = true;
      }
      else if (row.searchKey.length == 0) {
        // Somehow no search key - never include
        row.selectedBySearch = false;
      }
      else {
        row.selectedBySearch = true;
        for (const key of keysToCheck) {
          if (row.searchKey.indexOf(key) == -1) {
            row.selectedBySearch = false;
            break;
          }
        }
      }
      row.filterSetHidden();
    }
  }

  class FilterTable {
    constructor(colMeta, htmlTable, insertRowShiftIdx, htmlFilterBox, searchBox) {
      if (colMeta.constructor != Array) colMeta = [colMeta];
      this.colMeta = colMeta;
      this.htmlTable = htmlTable;
      this.insertRowShiftIdx = insertRowShiftIdx;
      this.searchBox = searchBox;
      this.rows = [];
      this.filters = Array(colMeta.length).fill(null);

      // Add keyup event for the search bar to search on searchable columns
      searchBox.rows = this.rows;
      searchBox.addEventListener('keyup', (event) => {
        if (event.isComposing || event.keyCode === 229) {
          return;
        }

        // Search for these keys in each row
        checkSearchBox(searchBox);
      });

      // Create header row
      var newRow = htmlTable.insertRow(htmlTable.rows.length + insertRowShiftIdx);
      for (var colIdx in colMeta) {
        const col = colMeta[colIdx];
        var newCol = document.createElement('th');
        newCol.innerHTML = col.label;
        newRow.appendChild(newCol);
        if (col.filterType) {
          var filterBox = document.createElement('div');
          var filterTitleBox = document.createElement('div');
          var newFilter = new Filter(col.filterType, colIdx, filterBox);
          this.filters[colIdx] = newFilter;
          filterBox.classList.add('sidebar-item'); // maybe take this as input
          filterBox.classList.add('menu-font');
          filterTitleBox.innerHTML = col.label;
          filterBox.appendChild(filterTitleBox);

          htmlFilterBox.appendChild(filterBox);
          switch(newFilter.filterType) {
            case FilterType.Tags:
              // Add an "All" option
              var checkBoxValue = new CheckBoxValue("All", newFilter);
              var checkBoxHTML = checkBoxValue.htmlCheckBox;
              filterBox.appendChild(checkBoxValue.htmlBox); // special place for "All"

              // Don't want "All" in list of filter values, so reset it
              newFilter.filterValues = {};

              // Custom onclick for "All"
              checkBoxHTML.onclick = function () {
                // When clicking "All", copy checked down to all other values
                var filter = this.checkBoxValue.filter;
                Object.entries(filter.filterValues).forEach(([key, checkBoxValue]) => {
                  if (this.checked) {
                    checkBoxValue.htmlBox.firstChild.checked = true;
                    checkBoxValue.check();
                  }
                  else {
                    checkBoxValue.htmlBox.firstChild.checked = false;
                    checkBoxValue.uncheck();
                  }
                })
              }
              newFilter.allCheckBox = checkBoxHTML;

              var newHLine = document.createElement('hr');
              checkBoxValue.htmlBox.appendChild(newHLine);
              break;
            case FilterType.IntRange:
              // Do nothing - ranges are set up with first value
              break;
            default:
              // Do nothing
              break;
          }

          // Add the rest of the filter values to this box
          const filterValuesBox = document.createElement('div');
          filterBox.appendChild(filterValuesBox);
          newFilter.htmlFilter = filterValuesBox;
        }
      }
    }

    appendRow(rawRow) {
      var newRow = this.htmlTable.insertRow(this.htmlTable.rows.length + this.insertRowShiftIdx);
      this.rows.push(newRow);

      // Initialize our special information for this row
      // Since we want to replace remove(), we'll just put our extra stuff here
      //    instead of creating new row class that contains the html row
      newRow.searchKey = '';
      newRow.filterValuesByCol = Array(this.colMeta.length).fill(null);
      newRow.origRemove = newRow.remove;
      newRow.remove = function () {
        for (var filterValues of this.filterValuesByCol) {
          if (filterValues) {
            for (var filterValue of filterValues) {
              filterValue.removeRow(this);
            }
          }
        }
        this.origRemove();
      }
      newRow.selectedByFilter = Array(this.colMeta.length).fill(true);
      newRow.selectedBySearch = true;
      newRow.filterSetHidden = function() {
        if (!this.selectedBySearch) {
          newRow.hidden = true;
        }
        else {
          newRow.hidden = false;
          for (const selected of this.selectedByFilter) {
            if (!selected) {
              newRow.hidden = true;
              break;
            }
          }
        }
      }

      // Append this row to the table, one column at a time
      for (var colIdx in this.colMeta) {
        const col = this.colMeta[colIdx];

        // Insert column in this row and create filter on value
        var newCol = newRow.insertCell();
        var strArr = [];
        for (var srcCol of col.sourceCols) {
          var srcData = rawRow[srcCol];
          if (srcData.constructor == Array) {
            for (var srcDataElem of srcData) strArr.push(srcDataElem);
          }
          else {
            strArr.push(srcData);
          }
        }
        newCol.innerHTML = col.templateFormat(strArr);

        // Process filter
        if (col.filterType) {
          var filter = this.filters[colIdx];
          if (!newRow.filterValuesByCol[colIdx]) newRow.filterValuesByCol[colIdx] = [];
          switch(filter.filterType) {
            case FilterType.Tags:
              var srcCol = col.sourceCols[0];
              var srcData = rawRow[srcCol];
              for (const word of srcData.split(" ")) {
                var checkBoxValue = filter.filterValues[word];
                if (!checkBoxValue) checkBoxValue = new CheckBoxValue(word, filter, colIdx);
                checkBoxValue.appendRow(newRow);
              }
              break;
            case FilterType.IntRange:
              var range = rawRow[col.sourceCols];
              var rangeValue = filter.filterValues[range];
              if (!rangeValue) rangeValue = new IntRangeValue(range, filter, colIdx);
              rangeValue.appendRow(newRow);
              break;
            default:
              // Do nothing
              break;
          }
        }

        // For searchable columns, add value to search key
        if (col.searchable) newRow.searchKey += ' ' + strArr.join('').trim().toLowerCase();
      }

      // Check search box and filter values, to perhaps hide a row that was already searched or filtered out
      checkSearchBox(this.searchBox);

      return newRow;
    }

    resetSearchBox() {
      this.searchBox.innerText = '';
      for (var row of this.searchBox.rows) {
        row.selectedBySearch = true;
        row.filterSetHidden();
      }
    }
  }

  // Classes for sending down data to server
  // Responses will be effectively these plus an ID
  class StudentData {
    constructor(name, birthdate, gradeLevel) {
      this.name = name;
      this.birthdate = birthdate;
      this.grade_level = gradeLevel;
    }
  }
  class ProgramData {
    constructor(title, tags, grade_range, description) {
      this.title = title;
      this.tags = tags;
      this.grade_range = grade_range;
      this.description = description;
    }
  }
  class LevelData {
    constructor(title, list_index, description) {
      this.title = title;
      this.list_index = list_index;
      this.description = description;
    }
  }

  {% block script %}{% endblock %}
</script>
</body>
</html>