{% extends 'base.html' %}

{% block content %}
  <span class='sidebar'>
    <div class='sidebar-item'>
      <h1>Filters</h1>
      <hr class='h-divider'></hr>
    </div>
    <div class='sidebar-item' id='filters-box'>
      <!-- Camp filters added here -->
    </div>
  </span>
  <div class='content-body'>
    <div class='content-item'><h1>Available Camps</h1></div>
    <div class='content-item'><div class='search-box'>
      <span><img class='small-button' src="/images/search.png" alt='Search'/></span>
      <span><p contenteditable=true id='search-box-text'></p></span>
      <span><span class='selectable' onclick='window.campsTable.resetSearchBox();'>
        <img class='small-button' src="/images/cancel.png" alt='Cancel'/>
      </span></span>
    </div></div>
    <div class='content-item'><div id='camps-table'>
      <!-- Camps table rows inserted here -->
    </div></div>
  </div>
{% endblock %}

{% block script %}
<script src="/js/filtertable.js"></script>
<script src="/js/searchlist.js"></script>
<script>
  const CampTblColIdx = {
      Title: 0,
      Instructor: 1,
      Tags: 2,
      GradeRange: 3,
      StartTime: 4
  };

  window.onload = function() {
    commonOnLoad();

    let colMeta = Array(Object.keys(CampTblColIdx).length).fill(null);
    colMeta[CampTblColIdx.Title] = new FilterTableColumnConfig('Title', DisplayType.Simple, 'h2', filterType=null, searchable=true, sortable=false);
    colMeta[CampTblColIdx.Instructor] = new FilterTableColumnConfig('Primary Instructor', DisplayType.Simple, 'span', filterType=FilterType.CheckBoxes, searchable=true, sortable=false);
    colMeta[CampTblColIdx.Tags] = new FilterTableColumnConfig('Tags', DisplayType.Simple, 'span', filterType=FilterType.Tags, searchable=true, sortable=false);
    colMeta[CampTblColIdx.GradeRange] = new FilterTableColumnConfig('Grade Range', DisplayType.Range, 'span', filterType=FilterType.IntRange, searchable=false, sortable=false);
    colMeta[CampTblColIdx.StartTime] = new FilterTableColumnConfig('Start Time', DisplayType.Datetime, 'span', filterType=null, searchable=false, sortable=false);

    let htmlTable = document.getElementById('camps-table');
    let filtersBox = document.getElementById('filters-box');
    let tableSearchBox = document.getElementById('search-box-text');
    let sortImages = ['/images/levelup.png', '/images/leveldown.png'];
    window.campsTable = new FilterTable(colMeta, htmlTable, 0, filtersBox, tableSearchBox, sortImages);

    http.get('/camps').then((campList) => {
      for (const camp of campList) {
        let campRow = addCampToTable(camp);

        http.get('/programs/' + camp.program_id).then((program) => {
          campRow.setColValue(CampTblColIdx.Title, program.title);
          campRow.setColValue(CampTblColIdx.Tags, program.tags);
          campRow.setColValue(CampTblColIdx.GradeRange, program.grade_range);
        });

        http.get('/camps/' + camp.id + '/instructors/' + camp.primary_instructor_id).then((instructor) => {
          campRow.setColValue(CampTblColIdx.Instructor, instructor.full_name);
        });

        http.get('/programs/' + camp.program_id + '/levels').then((levelList) => {
          http.get('/camps/' + camp.id + '/levels/' + levelList[0].id).then((firstLevelSchedule) => {
            campRow.setColValue(CampTblColIdx.StartTime, firstLevelSchedule.start_time);
          });
        });
      }
    });
  }

  function addCampToTable(camp) {
    let newRow = window.campsTable.appendEmptyRow();

    let title = newRow.filterTableColumns[CampTblColIdx.Title].box;
    let instructor = newRow.filterTableColumns[CampTblColIdx.Instructor].box;
    let tags = newRow.filterTableColumns[CampTblColIdx.Tags].box;
    let grade_range = newRow.filterTableColumns[CampTblColIdx.GradeRange].box;
    let start_time = newRow.filterTableColumns[CampTblColIdx.StartTime].box;
    insertCampRowContent(camp.id, newRow, title, instructor, tags, grade_range, start_time);

    return newRow;
  }
</script>
{% endblock %}
