{% extends 'base.html' %}

{% block content %}
  <span class='sidebar' id='sidebar'>
    <div class='sidebar-item'>
      <h1 id='program-title'></h1>
      <hr class='h-divider'></hr>
    </div>
    <div class='sidebar-item'>
      <h2>Levels</h2>
      <div class='listbox' id='levels-list'>
        <!-- List of levels listed here -->
      </div>
    </div>
    <div class='sidebar-item'>
      <h2>Instructors</h2>
    </div>
    <div class='sidebar-item'><div id='instructors-box' class='listbox'>
      <!-- List of instructors assigned to this camp here -->
    </div></div>
    <div class='sidebar-item'>
      <button class='selectable big-button' onclick='unhide("enroll-student");'><h2>Enroll Student</h2></button>
    </div>
  </span>
  <span class='content-body'>
    <div class='content-item'>
      <h2>Description</h2>
      <hr class='h-divider'></hr>
    </div>
    <div class='content-item'>
      <textarea wrap='soft' class='longtext-box' id='program-description' readonly></textarea>
    </div>
    <div class='content-item'>
      <div><strong>Grade Range: </strong><span id='program-grade-range'></span></div>
    </div>
    <div class='content-item'>
      <div><strong>Tags: </strong><span id='program-tags'></span></div>
    </div>
  </span>
  <div class="v-divider"></div>
  <span class='content-body'>
    <div class='content-item'>
      <h2>Calendar</h2>
      <hr class='h-divider'></hr>
    </div>
    <div class='content-item hidden-level' hidden>
      <h2 id='level-title'>Level 1</h2>
      <hr class='h-divider'></hr>
    </div>
    <div class='content-item hidden-level' hidden>
      <textarea wrap='soft' class='longtext-box' id='level-description' readonly></textarea>
    </div>
  </span>
  <div class='pop-up' id='enroll-student' hidden>
    <div>
      <h1>Enroll Student</h1>
      <hr class='h-divider'></hr>
    </div>
    <div><strong>Camp grade range </strong><strong id='enroll-camp-grade-range'></strong></div>
    <div id='enroll-student-list' class='listbox listbox-popup'>
      <!-- List of all possible students inserted here -->
    </div>
    <div>
      <span><button class='selectable' onclick='enrollStudent(); resetEnrollStudent();'>
        <img class='small-button' src="{{ url_for('images', path='/confirm.png') }}" alt='Submit'/>
      </button></span>
      <span><button class='selectable' onclick='resetEnrollStudent();'>
        <img class='small-button' src="{{ url_for('images', path='/cancel.png') }}" alt='Cancel'/>
      </button></span>
    </div>
  </div>
{% endblock %}

{% block script %}
<script src="{{ url_for('js', path='/searchlist.js') }}"></script>
<script src="{{ url_for('js', path='/filtertable.js') }}"></script>
<script>
  // One-time setup
  window.onload = function() {
    commonOnLoad();

    campId = getCampIdStr();

    http.get('/camps/' + campId).then((camp) => {
      window.camp = camp;
      http.get('/programs/' + camp.program_id).then((program) => {
        http.get('/programs/' + camp.program_id + '/levels').then((levelList) => {
          for (let level of levelList) {
            http.get('/camps/' + campId + '/levels/' + level.id).then((levelSchedule) => {
              addLevelToSidebar(level);
            });
          }
        });

        let programTitle = document.getElementById('program-title');
        programTitle.innerText = program.title;
        let programDesc = document.getElementById('program-description');
        programDesc.innerText = program.description;
        let programTags = document.getElementById('program-tags');
        programTags.innerText = program.tags;
        let programGradeRange = document.getElementById('program-grade-range');
        let gradeRange = program.grade_range[0] + ' to ' + program.grade_range[1];
        programGradeRange.innerText = gradeRange;

        let enrollGradeRange = document.getElementById('enroll-camp-grade-range');
        enrollGradeRange.innerText = gradeRange;
      });

      http.get('/camps/' + campId + '/instructors').then((instructorList) => {
        for (const instructor of instructorList) {
          addInstructorToList(instructor);
        }
      });
    });

    let htmlStudentList = document.getElementById('enroll-student-list');
    window.enrollStudentList = new SearchList(htmlStudentList, null);
    http.get('/students').then((studentList) => {
      for (const student of studentList) {
        window.enrollStudentList.appendValue(student.id, student.name + ' (Grade ' + student.grade_level + ')');
      }
    });
  }

  function getCampIdStr() {
    const urlAsArray = document.URL.split("/");
    return urlAsArray[urlAsArray.indexOf("camps")+1];
  }

  function addInstructorToList(instructor) {
    let instructorBox = document.getElementById('instructors-box');

    let text = null;
    if (instructor.is_primary) {
      text = document.createElement('strong');
      text.innerText = instructor.full_name + ' (primary)';
    }
    else {
      text = document.createElement('p');
      text.innerText = instructor.full_name;
    }

    let link = document.createElement('a');
    link.classList.add('selectable');
    link.href = '/insructors/' + instructor.id;
    link.appendChild(text);

    let box = document.createElement('div');
    box.appendChild(link);
    if (instructor.is_primary) {
      instructorBox.insertBefore(box, instructorBox.firstElementChild);
    }
    else {
      instructorBox.appendChild(box);
    }
  }

  function addLevelToSidebar(level) {
    newDiv = document.createElement('div');
    newDiv.classList.add('selectable');
    newDiv.levelId = level.id;
    newDiv.onclick = function() {
      let programId = window.camp.program_id;
      http.get('/programs/' + programId + '/levels/' + this.levelId).then((level) => {
        displayLevel(level);
      });
    };
    newDiv.id = 'sidebar-level-' + level.id;

    newText = document.createElement('strong');
    newText.innerText = level.list_index.toString() + ': ' + level.title;
    newDiv.appendChild(newText);

    levelsList = document.getElementById('levels-list');
    levelsList.appendChild(newDiv);
  }

  function displayLevel(level) {
    let levelTitle = document.getElementById('level-title');
    levelTitle.innerText = 'Level ' + level.list_index + ': ' + level.title;
    let levelDesc = document.getElementById('level-description');
    levelDesc.innerText = level.description;

    let elemList = document.getElementsByClassName('hidden-level');
    for (elem of elemList) {
      elem.hidden = false;
    }
    for (elem of elemList) {
      elem.classList.remove('hidden-level');
    }
  }

  function resetEnrollStudent() {
    hide('enroll-student');
    window.enrollStudentList.reset();
  }


  function enrollStudent() {
    let campId = window.camp.id;
    let selectedStudent = window.enrollStudentList.selectedRow;

    // TODO: create requirement for this value
    if (selectedStudent) {
      http.post('/camps/' + campId + '/students/' + selectedStudent.id, null).then((student) => {
        // TODO: display feedback that this succeeded
      });
    }
  }

</script>
{% endblock %}
