{% extends 'base.html' %}

{% block content %}
	<span class='content-body'>
    <div class='content-item'>
      <h1>Welcome to Level Up Writing's home page</h1>
      <div class='shorttext-box'>
        <p>As you can see, we are under construction and currently have a very plain style. Steve is working with the business owners on a style that reflects them, but feel free to peruse functionality in the meantime. As you log in with Google, you will be automatically elevated to "instructor" privileges, so you can see more of the site.</p>
      </div>
    </div>
  </span>
{% endblock %}

{% block script %}
<script>
  window.onload = function() {
    commonOnLoad();
  }
</script>
{% endblock %}

