{% extends 'base.html' %}

{% block content %}
  <div class='content-body'>
    <div class='content-item'>
      <h1 id='instructor-name'></h1>
      <hr class='h-divider'></hr>
    </div>
    <div class='content-item'>
      <span><strong>Subjects: </strong><span id='instructor-subjects'></span></span>
    </div>
    <div class='content-item'>
      <strong>About: </strong>
    </div>
    <div class='content-item'>
      <textarea wrap='soft' class='longtext-box' id='instructor-description' readOnly></textarea>
    </div>
  </div>
{% endblock %}

{% block script %}
<script>
  window.onload = function () {
    commonOnLoad();

    let instructorId = getInstructorIdStr();

    http.get('/instructors', instructorId).then((instructor) => {
      let instructorName = document.getElementById('instructor-name');
      instructorName.innerText = instructor.full_name;

      let instructorSubjects = document.getElementById('instructor-subjects');
      instructorSubjects.innerText = instructor.instructor_subjects;

      let instructorDescription = document.getElementById('instructor-description');
      instructorDescription.innerText = instructor.instructor_description;
    });
  }

  function getInstructorIdStr() {
    const urlAsArray = document.URL.split("/");
    return urlAsArray[urlAsArray.indexOf("instructors")+1];
  }
</script>
{% endblock %}
