{% extends 'base.html' %}

{% block content %}
	<span class='content-body'>
    <div class='content-item'>
      <h1><span>Members</span></h1>
    </div>
    <div class='content-item'><div class='search-box'>
      <span><img class='small-button' src="/images/search.png" alt='Search'/></span>
      <span><p contenteditable=true id='search-box-text'></p></span>
      <span><span class='selectable' onclick='window.membersTable.resetSearchBox();'>
        <img class='small-button' src="/images/cancel.png" alt='Cancel'/>
      </span></span>
    </div></div>
    <div class='content-item'><table id='members-table'>
      <!-- Member table rows inserted here -->
    </table></div>
  </div>
{% endblock %}

{% block script %}
<script src="/js/filtertable.js"></script>
<script>

  const UserTblColIdx = {
      Name: 0,
      Email: 1,
      FirstRole: 2
  };

  window.onload = function () {
    commonOnLoad();

    http.get('/roles').then((rolesList) => {
      let colMeta = Array(Object.keys(UserTblColIdx).length - 1).fill(null);
      colMeta[UserTblColIdx.Name] = new FilterTableColumnConfig('Name', DisplayType.Simple, 'tr', filterType=null, searchable=true, sortable=true);
      colMeta[UserTblColIdx.Email] = new FilterTableColumnConfig('Email', DisplayType.Simple, 'tr', filterType=null, searchable=true, sortable=true);
      for (const roleIdx in rolesList) {
        const role = rolesList[roleIdx];
        let displayName = role.name.toLowerCase();
        displayName =  displayName.charAt(0).toUpperCase() + displayName.substring(1, displayName.length);
        colMeta.push(new FilterTableColumnConfig(displayName, DisplayType.Simple, 'tr', filterType=null, searchable=false, sortable=false));
      }

      let htmlTable = document.getElementById('members-table');
      let tableSearchBox = document.getElementById('search-box-text');
      let sortImages = ['/images/levelup.png', '/images/leveldown.png'];
      window.membersTable = new FilterTable(colMeta, htmlTable, 0, null, tableSearchBox, sortImages);

      http.get('/users').then((userList) => {
        let yesOnClick = function () {
          let role = this.userRole;
          let user = this.user;
          if (confirm('Disable the ' + role.name + ' role for ' + user.full_name + '?')) {
            http.delete('/users/' + user.id + '/roles', role.name);
            this.innerText = 'No';
            this.onclick = this.noOnClick;
          }
        }
        let noOnClick = function () {
          let role = this.userRole;
          let user = this.user;
          if (confirm('Enable the ' + role.name + ' role for ' + user.full_name + '?')) {
            http.post('/users/' + user.id + '/roles/' + role.name, null).then((role_name) => {
              this.innerText = 'Yes';
              this.onclick = this.yesOnClick;
            });
          }
        }

        for (let user of userList) {
          newRow = window.membersTable.appendEmptyRow(user);
          newRow.setColValue(UserTblColIdx.Name, user.full_name);
          newRow.setColValue(UserTblColIdx.Email, user.email_address);

          let roleIdx = 0;
          for (let colIdx = UserTblColIdx.FirstRole; colIdx < newRow.childNodes.length; colIdx++, roleIdx++) {
            let role = rolesList[roleIdx];
            let userHasRole = user.roles.find(elem => elem === role.name);

            let col = null;
            if (userHasRole) {
              col = newRow.setColValue(colIdx, 'Yes');
              col.box.onclick = yesOnClick;
            }
            else {
              col = newRow.setColValue(colIdx, 'No');
              col.box.onclick = noOnClick;
            }

            col.box.classList.add('selectable');
            col.box.userRole = role;
            col.box.user = user;
            col.box.yesOnClick = yesOnClick;
            col.box.noOnClick = noOnClick;
          }
        }
      });

      window.membersTable.sort();
    });
  }
</script>
{% endblock %}
