{% extends 'base.html' %}

{% block content %}
	<span class='content-body'>
    <div class='content-item'>
      <h1><span>Members</span></h1>
    </div>
    <div class='content-item'><div class='search-box'>
      <span><img class='small-button' src="{{ url_for('images', path='/search.png') }}" alt='Search'/></span>
      <span><p contenteditable=true id='search-box-text'></p></span>
      <span><span class='selectable' onclick='window.membersTable.resetSearchBox();'>
        <img class='small-button' src="{{ url_for('images', path='/cancel.png') }}" alt='Cancel'/>
      </span></span>
    </div></div>
    <div class='content-item'><table id='members-table'>
      <!-- Member table rows inserted here -->
    </table></div>
  </div>
{% endblock %}

{% block script %}
<script src="{{ url_for('js', path='/filtertable.js') }}"></script>
<script>
  window.onload = function () {
    commonOnLoad();

    http.get('/roles').then((rolesList) => {
      colMeta = [];
      colMeta.push(new FilterTableColumn('Name', DisplayType.Simple, 'tr', 'full_name', filterType=null, searchable=true, sortable=true));
      colMeta.push(new FilterTableColumn('Email', DisplayType.Simple, 'tr', 'primary_email_address', filterType=null, searchable=true, sortable=true));
      for (const role of rolesList) {
        let displayName = role.name.toLowerCase();
        displayName =  displayName.charAt(0).toUpperCase() + displayName.substring(1, displayName.length);
        colMeta.push(new FilterTableColumn(displayName, DisplayType.Simple, 'tr', role.name, filterType=null, searchable=true));
      }

      let htmlTable = document.getElementById('members-table');
      let tableSearchBox = document.getElementById('search-box-text');
      window.membersTable = new FilterTable(colMeta, htmlTable, 0, null, tableSearchBox, sortImages=['{{ url_for("images", path="/levelup.png") }}', '{{ url_for("images", path="/leveldown.png") }}']);

      http.get('/users').then((userList) => {
        let yesOnClick = function () {
          let role = this.userRole;
          let user = this.parentNode.user;
          if (confirm('Disable the ' + role.name + ' role for ' + user.full_name + '?')) {
            http.delete('/users/' + user.id + '/roles', role.name);
            this.innerText = 'No';
            this.onclick = this.noOnClick;
          }
        }
        let noOnClick = function () {
          let role = this.userRole;
          let user = this.parentNode.user;
          if (confirm('Enable the ' + role.name + ' role for ' + user.full_name + '?')) {
            http.post('/users/' + user.id + '/roles/' + role.name, null).then((role_name) => {
              this.innerText = 'Yes';
              this.onclick = this.yesOnClick;
            });
          }
        }

        for (let user of userList) {
          for (const role of rolesList) {
            user[role.name] = 'No';
          }
          for (const role of user.roles) {
            user[role] = 'Yes';
          }
          newRow = window.membersTable.appendRow(user);
          newRow.user = user;

          let roleIdx = 0;
          for (let colIdx = 2; colIdx < newRow.childNodes.length; colIdx++, roleIdx++) {
            let col = newRow.childNodes[colIdx];
            col.classList.add('selectable');
            col.userRole = rolesList[roleIdx];
            col.yesOnClick = yesOnClick;
            col.noOnClick = noOnClick;

            if (col.innerText === 'Yes') {
              col.onclick = col.yesOnClick;
            }
            else {
              col.onclick = col.noOnClick;
            }
          }
        }
      });
    });
  }
</script>
{% endblock %}
