{% extends 'base.html' %}

{% block content %}
	<span class='content-body'>
    <div class='content-item'>
      <h1>
        <span>Profile</span>
        <span><button class='selectable' id='profile-edit' onclick='edit(["profile-name", "profile-email", "profile-phone-number", "instructor-subjects", "instructor-description"]); hide(["profile-edit"]); unhide(["profile-submit", "profile-cancel"]);'>
          <img class='small-button' src="/images/pencil.png" alt='Edit'/>
        </button></span>
        <span><button class='selectable' id='profile-submit' onclick='putUser(); unhide(["profile-edit"]); hide(["profile-submit", "profile-cancel"]);' hidden>
          <img class='small-button' src="/images/confirm.png" alt='Submit'/>
        </button></span>
        <span><button class='selectable' id='profile-cancel' onclick='getUser(); unhide(["profile-edit"]); hide(["profile-submit", "profile-cancel"]);' hidden>
          <img class='small-button' src="/images/cancel.png" alt='Cancel'/>
        </button></span>
      </h1>
      <hr class='h-divider'></hr>
    </div>
    <div class='content-item'>
      <span><strong>Name: </strong><span id='profile-name'></span></span>
    </div>
    <div class='content-item'>
      <span><strong>Email: </strong><input type='email' id='profile-email'></span>
    </div>
    <div class='content-item'>
      <span><strong>Phone number: </strong><input type='tel' id='profile-phone-number' pattern='[0-9]{3}-[0-9]{3}-[0-9]{4}'></span>
    </div>
  </span>
  <div class='v-divider' id='content-body-divider' hidden></div>
  <span class='content-body' id='instructor-content-body' hidden>
    <div class='content-item'>
      <h1>Instructor Profile (Public)</h1>
      <hr class='h-divider'></hr>
    </div>
    <div class='content-item'>
      <span><strong>Subjects: </strong><span id='instructor-subjects'></span></span>
    </div>
    <div class='content-item'>
      <strong>Professional Description: </strong>
    </div>
    <div class='content-item'>
      <textarea wrap='soft' class='longtext-box' id='instructor-description'></textarea>
    </div>
    </div>
  </span>
{% endblock %}

{% block script %}
<script>
  window.onload = function () {
    commonOnLoad();

    getUser();

    let phoneNumber = document.getElementById('profile-phone-number');;
    phoneNumber.addEventListener('keyup', (event) => {
        if (phoneNumber.readOnly || event.isComposing || event.keyCode === 229) {
            return;
        }
        let len = phoneNumber.value.length;
        switch (event.key) {
          case "Backspace":
            switch (len) {
              case 4:
              case 8:
                phoneNumber.value = phoneNumber.value.slice(0, len-1);
                break;
            }
            break;
          case "Delete":
            phoneNumber.value = "";
            break;
          default:
            if (len > 12) {
              phoneNumber.value = phoneNumber.value.slice(0, 12);
            }
            else {
              switch (len) {
                case 3:
                case 7:
                  phoneNumber.value += '-';
                default:
                  let digit = phoneNumber.value[len-1];
                  if (digit != '0' && !parseInt(phoneNumber.value[len-1])) {
                    phoneNumber.value = phoneNumber.value.slice(0, len-1);
                  }
              }
            }
            break;
        }
    });
  }

  function displayUser(user) {
    let profileName = document.getElementById('profile-name');
    profileName.innerText = user.full_name;
    profileName.contentEditable = false;

    let profileEmail = document.getElementById('profile-email');
    profileEmail.value = user.email_address;
    profileEmail.size = user.email_address.length;
    profileEmail.readOnly = true;

    let profilePhone = document.getElementById('profile-phone-number');
    profilePhone.value = user.phone_number;
    profilePhone.readOnly = true;

    let instructorSubjects = document.getElementById('instructor-subjects');
    instructorSubjects.innerText = user.instructor_subjects;
    instructorSubjects.contentEditable = false;

    let instructorDesc = document.getElementById('instructor-description');
    instructorDesc.value = user.instructor_description;
    instructorDesc.readOnly = true;
  }

  function getUser() {
    http.get('/user').then((user) => {
      displayUser(user);
    });

    http.get('/user/roles').then((rolesList) => {
      if (rolesList.find(elem => elem.name === 'INSTRUCTOR')) {
        unhide(['content-body-divider', 'instructor-content-body']);
      };
    });
  }

  function putUser() {
    let fullName = document.getElementById('profile-name').innerText;
    let emailAddress = document.getElementById('profile-email').value;
    let phoneNumber = document.getElementById('profile-phone-number').value;
    let instructorSubjects = document.getElementById('instructor-subjects').innerText;
    let instructorDescription = document.getElementById('instructor-description').value;

    userData = new UserData(fullName, emailAddress, phoneNumber, instructorSubjects, instructorDescription);
    http.put('/user', null, userData).then((user) => {
      displayUser(user);
    });
  }
</script>
{% endblock %}
