{% extends 'base.html' %}

{% block content %}
  <span class='sidebar' id='sidebar'>
    <div class='sidebar-item'>
      <h1><a class='selectable' href='javascript:"/programs/" + getProgramIdStr();' id='sidebar-program-title'></a></h1>
      <hr class='h-divider'></hr>
    </div>
    <!-- Levels added here -->
    <div id='add-level-box' class='sidebar-item selectable' onclick="unhide('new-level');"><p>+ Add Level</p></div>
    <div class='sidebar-item'><a class='selectable' href="/programs"><strong>Back to programs</strong></a></div>
  </span>
  <span class='content-body' id='program-content-left'>
    <div class='content-item'>
      <h1>
        <span>Program</span>
        <span><button class='selectable' id='program-edit' onclick='edit(["program-title", "program-tags", "program-from-grade", "program-to-grade", "program-description"]); hide(["program-edit", "program-delete"]); unhide(["program-submit", "program-cancel"]);'>
          <img class='small-button' src="{{ url_for('images', path='/pencil.png') }}" alt='Edit'/>
        </button></span>
        <span><button class='selectable' id='program-submit' onclick='putProgram(); unhide(["program-edit", "program-delete"]); hide(["program-submit", "program-cancel"]);' hidden>
          <img class='small-button' src="{{ url_for('images', path='/confirm.png') }}" alt='Submit'/>
        </button></span>
        <span><button class='selectable' id='program-cancel' onclick='getProgram(); unhide(["program-edit", "program-delete"]); hide(["program-submit", "program-cancel"]);' hidden>
          <img class='small-button' src="{{ url_for('images', path='/cancel.png') }}" alt='Cancel'/>
        </button></span>
      </h1>
      <hr class='h-divider'></hr>
    </div>
    <div class='content-item' hidden>
      <span><strong>ID: </strong><span id='program-id'></span></span>
    </div>
    <div class='content-item'>
      <span><strong>Title: </strong><span id='program-title'></span></span>
    </div>
    <div class='content-item'>
      <span><strong>Tags: </strong><span id='program-tags'></span></span>
    </div>
    <div class='content-item'>
      <strong>Grade range: </strong>
      <select type='select' id='program-from-grade'>
        <option value="0">K</option>
        {% for grade in range(1,13) %}
          <option value="{{grade}}">{{grade}}</option>
        {% endfor %}
      </select>
      <span>to </span>
      <select type='select' id='program-to-grade'>
        <option value="0">K</option>
        {% for grade in range(1,13) %}
          <option value="{{grade}}">{{grade}}</option>
        {% endfor %}
      </select>
    </div>
    <div class='content-item' id='program-delete'>
      <button class='selectable' onclick="confirmDeleteProgram();">
        <span><img class='small-button' src="{{ url_for('images', path='/cancel.png') }}" alt='Delete'/></span>
        <span><strong>Delete Program</strong></span>
      </button>
    </div>
  </span>
  <span class='content-body' id='level-content-left' hidden>
    <div class='content-item'>
      <h1>
        <span id='level-header-text'>Level X</span>
        <span><button class='selectable' id='level-edit' onclick='edit(["level-title", "level-list-index", "level-description"]); hide(["level-edit", "level-delete"]); unhide(["level-submit", "level-cancel"]);'>
          <img class='small-button' src="{{ url_for('images', path='/pencil.png') }}" alt='Edit'/>
        </button></span>
        <span><button class='selectable' id='level-submit' onclick='putLevel(); unhide(["level-edit", "level-delete"]); hide(["level-submit", "level-cancel"]);' hidden>
          <img class='small-button' src="{{ url_for('images', path='/confirm.png') }}" alt='Submit'/>
        </button></span>
        <span><button class='selectable' id='level-cancel' onclick='getLevel(null); unhide(["level-edit", "level-delete"]); hide(["level-submit", "level-cancel"]);' hidden>
          <img class='small-button' src="{{ url_for('images', path='/cancel.png') }}" alt='Cancel'/>
        </button></span>
      </h1>
      <hr class='h-divider'></hr>
    </div>
    <div class='content-item' hidden>
      <span><strong>ID: </strong><span id='level-id'></span></span>
    </div>
    <div class='content-item'>
      <span><strong>Title: </strong><span id='level-title'></span></span>
    </div>
    <div class='content-item'>
      <strong>Index: </strong>
      <select type='select' id='level-list-index'>
        <option value="1">1</option>
      </select>
    </div>
    <div class='content-item' id='level-delete'>
      <button class='selectable' onclick="confirmDeleteLevel();">
        <span><img class='small-button' src="{{ url_for('images', path='/cancel.png') }}" alt='Delete'/></span>
        <span><strong>Delete Level</strong></span>
      </button>
    </div>
  </span>
  <div class="v-divider"></div>
  <span class='content-body' id='program-content-right'>
    <div class='content-item'>
      <strong>Description: </strong>
    </div>
    <div class='content-item'>
      <textarea wrap='soft' class='longtext-box' id='program-description'></textarea>
    </div>
  </span>
  <span class='content-body' id='level-content-right' hidden>
    <div class='content-item'>
      <strong>Description: </strong>
    </div>
    <div class='content-item'>
      <textarea wrap='soft' class='longtext-box' id='level-description'></textarea>
    </div>
  </span>
  <div class='pop-up' id='new-level' hidden>
    <div>
      <h1 id='new-level-header'>Level for Program X</h1>
      <hr class='h-divider'></hr>
    </div>
    <div><strong >Title:</strong></div>
    <div class='pop-up-textbox'><p contenteditable='true' id='new-level-title'></p></div>
    <div>
      <span><button class='selectable' onclick='postLevel(); resetNewLevel();'>
        <img class='small-button' src="{{ url_for('images', path='/confirm.png') }}" alt='Submit'/>
      </button></span>
      <span><button class='selectable' onclick='resetNewLevel();'>
        <img class='small-button' src="{{ url_for('images', path='/cancel.png') }}" alt='Cancel'/>
      </button></span>
    </div>
  </div>
{% endblock %}

{% block script %}
<script>
  // One-time setup
  window.onload = function() {
    commonOnLoad();

    programId = getProgramIdStr();
    document.getElementById('program-id').innerHTML = programId;
    document.getElementById('sidebar-program-title').href = '/programs/' + programId;

    getProgram();
    getLevels();
  }

  function getProgramIdStr() {
    const urlAsArray = document.URL.split("/");
    return urlAsArray[urlAsArray.indexOf("programs")+1];
  }

  function displayProgram(program) {
    unhide(["program-content-left", "program-content-right"]);
    hide(["level-content-left", "level-content-right"]);

    document.getElementById('sidebar-program-title').innerHTML = program.title;
    document.getElementById('new-level-header').innerHTML = 'New Level for Program ' + program.title;

    programTitle = document.getElementById('program-title');
    programTitle.innerHTML = program.title;
    programTitle.contentEditable = false;

    programTags = document.getElementById('program-tags');
    programTags.innerHTML = program.tags;
    programTags.contentEditable = false;

    programFromGrade = document.getElementById('program-from-grade');
    programFromGrade.selectedIndex = program.grade_range[0];
    programFromGrade.disabled = true;

    programToGrade = document.getElementById('program-to-grade');
    programToGrade.selectedIndex = program.grade_range[1];
    programToGrade.disabled = true;

    programDesc = document.getElementById('program-description');
    programDesc.value = program.description;
    programDesc.readOnly = true;
  }

  function extendLevelIndex(targetSize) {
    levelIndex = document.getElementById('level-list-index');
    for (i = levelIndex.length; i < targetSize; i++) {
      newOption = document.createElement("option");
      newOption.textContent = i + 1;
      newOption.value = i + 1;
      levelIndex.appendChild(newOption);
    }
  }

  function strinkLevelIndex() {
    levelIndex = document.getElementById('level-list-index');
    levelIndex.lastChild.remove();
  }

  function displayLevel(level) {
    hide(["program-content-left", "program-content-right"]);
    unhide(["level-content-left", "level-content-right"]);

    document.getElementById('level-header-text').innerHTML = 'Level ' + level.list_index;

    levelId = document.getElementById('level-id'); // not actually displayed right now, but this is where we stick the ID
    levelId.innerHTML = level.id;

    levelTitle = document.getElementById('level-title');
    levelTitle.innerHTML = level.title;
    levelTitle.contentEditable = false;

    extendLevelIndex(level.list_index);
    levelIndex = document.getElementById('level-list-index');
    levelIndex.selectedIndex = level.list_index - 1;
    levelIndex.previousValue = levelIndex.value;
    levelIndex.disabled = true;

    levelDesc = document.getElementById('level-description');
    levelDesc.value = level.description;
    levelDesc.readOnly = true;
  }

  function resetNewLevel() {
    hide("new-level");
    document.getElementById('new-level-title').innerHTML = '';
  }

  function addLevelToSidebar(level) {
    newDiv = document.createElement('div');
    newDiv.classList.add('selectable');
    newDiv.classList.add('sidebar-item');
    newDiv.onclick = function() { getLevel(level.id); };
    newDiv.id = 'sidebar-level-' + level.id;

    newText = document.createElement('p');
    newText.innerText = level.list_index.toString() + ': ' + level.title;
    newDiv.appendChild(newText);

    sidebar = document.getElementById('sidebar');
    sidebarTail = document.getElementById('add-level-box');
    sidebar.insertBefore(newDiv, sidebarTail);
  }

  function getProgram() {
    programId = document.getElementById('program-id').innerHTML;
    http.get('/programs/' + programId).then((program) => { displayProgram(program); })
  }

  function putProgram() {
    programId = document.getElementById('program-id').innerHTML;
    programTitle = document.getElementById('program-title').innerHTML;
    programTags = document.getElementById('program-tags').innerHTML;
    programFromGrade = document.getElementById('program-from-grade').selectedIndex;
    programToGrade = document.getElementById('program-to-grade').selectedIndex;
    programDesc = document.getElementById('program-description').value;
    programData = new ProgramData(programTitle, programTags, [programFromGrade, programToGrade], programDesc);
    http.put('/programs', programId, programData).then((program) => { displayProgram(program); })
  }

  function confirmDeleteProgram() {
    programId = document.getElementById('program-id').innerHTML;
    programTitle = document.getElementById('program-title').innerHTML;
    if (confirm('Are you sure you want to delete program "' + programTitle + '"?')) {
      http.delete('/programs', programId);
      http.redirect('/programs');
    }
  }

  function getLevels() {
    programId = document.getElementById('program-id').innerHTML;
    http.get('/programs/' + programId + '/levels').then((levelList) => {
      extendLevelIndex(levelList.length);
      for (const level of levelList) { addLevelToSidebar(level); }
    })
  }

  function getLevel(id) {
    if (!id) { id = document.getElementById('level-id').innerHTML; }
    programId = document.getElementById('program-id').innerHTML;
    http.get('/programs/' + programId + '/levels', id).then((level) => { displayLevel(level); });
  }

  function putLevel() {
    programId = document.getElementById('program-id').innerHTML;
    levelId = document.getElementById('level-id').innerHTML;
    levelTitle = document.getElementById('level-title').innerHTML;
    levelIndex = document.getElementById('level-list-index').value;
    levelDesc = document.getElementById('level-description').value;
    levelData = new LevelData(levelTitle, levelIndex, levelDesc);
    http.put('/programs/' + programId + '/levels', levelId, levelData).then((level) => {
      origLevelIndex = document.getElementById('level-list-index').previousValue;
      if (origLevelIndex < level.list_index) {
        // Moving forward
        sidebarLevel = document.getElementById('sidebar-level-' + levelId);
        splitLevel = sidebarLevel.firstChild.innerText.split(':');
        splitLevel[0] = level.list_index.toString();
        sidebarLevel.firstChild.innerText = splitLevel.join(':');
        for (i = origLevelIndex; i < level.list_index; i++) {
          sidebarLevel = sidebarLevel.nextSibling;
          splitLevel = sidebarLevel.firstChild.innerText.split(':');
          splitLevel[0] = (parseInt(splitLevel[0]) - 1).toString();
          sidebarLevel.firstChild.innerText = splitLevel.join(':');
        }

        insertBeforeLevel = sidebarLevel.nextSibling;
        moveLevel = document.getElementById('sidebar-level-' + levelId);
        document.getElementById('sidebar').insertBefore(moveLevel, insertBeforeLevel);
      }
      else if (origLevelIndex > level.list_index) {
        // Moving backwards
        sidebarLevel = document.getElementById('sidebar-level-' + levelId);
        splitLevel = sidebarLevel.firstChild.innerText.split(':');
        splitLevel[0] = level.list_index.toString();
        sidebarLevel.firstChild.innerText = splitLevel.join(':');
        for (i = level.list_index; i < origLevelIndex; i++) {
          sidebarLevel = sidebarLevel.previousSibling;
          splitLevel = sidebarLevel.firstChild.innerText.split(':');
          splitLevel[0] = (parseInt(splitLevel[0]) + 1).toString();
          sidebarLevel.firstChild.innerText = splitLevel.join(':');
        }

        insertBeforeLevel = sidebarLevel;
        moveLevel = document.getElementById('sidebar-level-' + levelId);
        document.getElementById('sidebar').insertBefore(moveLevel, insertBeforeLevel);
      }
      displayLevel(level);
    })
  }

  function postLevel() {
    programId = document.getElementById('program-id').innerHTML;
    levelTitle = document.getElementById('new-level-title').innerHTML;

    // TODO: create requirement for this value
    if (levelTitle != "") {
      levelData = new LevelData(levelTitle, 0, '');
      http.post('/programs/' + programId + '/levels', levelData).then((level) => { addLevelToSidebar(level); displayLevel(level); });
    }
  }

  function confirmDeleteLevel() {
    programId = document.getElementById('program-id').innerHTML;
    levelId = document.getElementById('level-id').innerHTML;
    levelTitle = document.getElementById('level-title').innerHTML;
    if (confirm('Are you sure you want to delete level "' + levelTitle + '"?')) {
      http.delete('/programs/' + programId + '/levels', levelId);
      strinkLevelIndex();
      sidebarLevelStr = 'sidebar-level-';
      removeSidebarLevel = document.getElementById(sidebarLevelStr + levelId);
      incrementSidebarLevel = removeSidebarLevel.nextSibling;
      while (incrementSidebarLevel) {
        if (incrementSidebarLevel.id.substr(0, sidebarLevelStr.length) != sidebarLevelStr) break;
        splitLevel = incrementSidebarLevel.innerHTML.split(':');
        splitLevel[0] = (parseInt(splitLevel[0]) - 1).toString();
        incrementSidebarLevel.innerHTML = splitLevel.join(':');
        incrementSidebarLevel = incrementSidebarLevel.nextSibling;
      }
      removeSidebarLevel.remove();
      unhide(["program-content-left", "program-content-right"]);
      hide(["level-content-left", "level-content-right"]);
    }
  }
</script>
{% endblock %}
