{% extends 'base.html' %}

{% block content %}
  <span class='sidebar'>
    <div class='sidebar-item'>
      <h1>Filters</h1>
      <hr class='h-divider'></hr>
    </div>
    <div class='sidebar-item' id='filters-box'>
      <!-- Program filters added here -->
    </div>
  </span>
  <div class='content-body'>
    <div class='content-item'>
      <h1>Programs</h1>
    </div>
    <div class='content-item'><div class='search-box'>
      <span><img class='small-button' src="{{ url_for('images', path='/search.png') }}" alt='Search'/></span>
      <span><p contenteditable=true id='search-box-text'></p></span>
      <span><span class='selectable' onclick='window.programsTable.resetSearchBox();'>
        <img class='small-button' src="{{ url_for('images', path='/cancel.png') }}" alt='Cancel'/>
      </span></span>
    </div></div>
    <div class='content-item'><table id='programs-table'>
      <tr><td><button class='selectable' onclick='unhide("new-program");'><strong>+ Add Program</strong></button></td></tr>
    </table></div>
  </div>
  <div class='pop-up' id='new-program' hidden>
    <div>
      <h1>New Program</h1>
      <hr class='h-divider'></hr>
    </div>
    <div><strong >Title:</strong></div>
    <div class='pop-up-textbox'><p contenteditable='true' id='new-program-title'></p></div>
    <div><strong >Tags:</strong></div>
    <div class='pop-up-textbox'><p contenteditable='true' id='new-program-tags'></p></div>
    <div><strong>From grade:</strong></div>
    <div><select type='select' id='new-program-from-grade'>
      <option value="0">K</option>
      {% for grade in range(1,13) %}
        <option value="{{grade}}" {% if grade == 6 %} selected {% endif %}>{{grade}}</option>
      {% endfor %}
    </select></div>
    <div><strong>To grade:</strong></div>
    <div><select type='select' id='new-program-to-grade'>
      <option value="0">K</option>
      {% for grade in range(1,13) %}
        <option value="{{grade}}" {% if grade == 8 %} selected {% endif %}>{{grade}}</option>
      {% endfor %}
    </select></div>
    <div>
      <span><button class='selectable' onclick='postProgram();'>
        <img class='small-button' src="{{ url_for('images', path='/confirm.png') }}" alt='Submit'/>
      </button></span>
      <span><button class='selectable' onclick='resetNewProgram();'>
        <img class='small-button' src="{{ url_for('images', path='/cancel.png') }}" alt='Cancel'/>
      </button></span>
    </div>
  </div>
{% endblock %}

{% block script %}
<script src="{{ url_for('js', path='/filtertable.js') }}"></script>
<script>
  const ProgramTblColIdx = {
      Title: 0,
      Tags: 1,
      GradeRange: 2
  };

  window.onload = function() {
    commonOnLoad();

    colMeta = Array(Object.keys(ProgramTblColIdx).length).fill(null);
    colMeta[ProgramTblColIdx.Title] = new FilterTableColumnConfig('Title', DisplayType.Simple, 'tr', filterType=null, searchable=true, sortable=true);
    colMeta[ProgramTblColIdx.Tags] = new FilterTableColumnConfig('Tags', DisplayType.Simple, 'tr', filterType=FilterType.Tags, searchable=true, sortable=false);
    colMeta[ProgramTblColIdx.GradeRange] = new FilterTableColumnConfig('Grade Range', DisplayType.Range, 'tr', filterType=FilterType.IntRange, searchable=false, sortable=true);

    let htmlTable = document.getElementById('programs-table');
    let filtersBox = document.getElementById('filters-box');
    let searchBox = document.getElementById('search-box-text');
    let sortImages = ['{{ url_for("images", path="/levelup.png") }}', '{{ url_for("images", path="/leveldown.png") }}'];
    window.programsTable = new FilterTable(colMeta, htmlTable, -1, filtersBox, searchBox, sortImages); // -1 for row shift - we have one extra final static row for "Add Program"

    http.get('/programs').then((programList) => {
      for (const program of programList) addProgramToTable(program);
      window.programsTable.sort();
    });
  }

  function resetNewProgram() {
    hide("new-program");
    document.getElementById('new-program-title').innerText = "";
    document.getElementById('new-program-tags').innerText = "";
    document.getElementById('new-program-from-grade').selectedIndex = 6;
    document.getElementById('new-program-to-grade').selectedIndex = 8;
    // Description intentionally left off "new program"
  }

  function addProgramToTable(program) {
    let newRow = window.programsTable.appendEmptyRow();

    newRow.setColValue(ProgramTblColIdx.Title, program.title);
    newRow.setColValue(ProgramTblColIdx.Tags, program.tags);
    newRow.setColValue(ProgramTblColIdx.GradeRange, program.grade_range);

    newRow.programId = program.id;
    newRow.classList.add('selectable');

    commonOnClick = function() {
      row = this.parentNode;
      http.redirect('/programs/' + row.programId);
    };
    for (let col of newRow.childNodes) col.onclick = commonOnClick;

    // Add a delete button off the right side
    let newCol = newRow.insertCell();
    let newButton = document.createElement('button');
    newButton.classList.add('selectable');
    newButton.onclick = function () {
      let row = this.parentNode.parentNode;
      let programTitle = row.cells[0].innerText;
      if (confirm('Are you sure you want to delete the program "' + programTitle + '"?')) {
        http.delete('/programs', row.programId);
        row.remove();
      }
    }
    newCol.appendChild(newButton);

    let text = document.createElement('strong');
    text.innerText = 'Delete';
    newButton.appendChild(text);
  }

  function postProgram() {
    programTitle = document.getElementById('new-program-title').innerText;
    programTags = document.getElementById('new-program-tags').innerText;
    programFromGrade = document.getElementById('new-program-from-grade').selectedIndex;
    programToGrade = document.getElementById('new-program-to-grade').selectedIndex;
    programDescription = ""; // intentionally left off "new program"

    // TODO: create requirement for this value
    if (programTitle !== "") {
      programData = new ProgramData(programTitle, programTags, [programFromGrade, programToGrade], programDescription);
      levelData = new LevelData('First Level', 1, '');

      http.post('/programs', programData).then((program) => {
        http.post('/programs/' + program.id + '/levels', levelData).then((level) => {
          http.redirect('/programs/' + program.id);
        });
      });
    }
  }
</script>
{% endblock %}
