{% extends 'base.html' %}

{% block content %}
  <span class='sidebar'>
    <div class='sidebar-title'><h1>Filters</h1></div>
    <hr class='h-divider'></hr>
  </span>
  <div class='content-body'>
    <div class='content-item'><h1>Programs</h1></div>
    <div class='content-item'><table id='programs-table'>
      <tr><th hidden>Id</th><th>Title</th><th>Tags</th><th>Grade Range</th></tr>
      <tr class='selectable' onclick='unhide("new-program");'><td>+ Add Program</td></tr>
    </table></div>
    <div class='pop-up' id='new-program' hidden>
      <div class='pop-up-item'>
        <h1>New Program</h1>
        <hr class='h-divider'></hr>
      </div>
      <div class='pop-up-item'>
        <div class='pop-up-subitem'><strong >Title:</strong></div>
        <div class='pop-up-subitem pop-up-text'contenteditable='true' id='new-program-title'></div>
        <div class='pop-up-subitem'><strong >Tags:</strong></div>
        <div class='pop-up-subitem pop-up-text'contenteditable='true' id='new-program-tags'></div>
        <div class='pop-up-subitem'><strong>From grade:</strong></div>
        <div class='pop-up-subitem'><select type='select' id='new-program-from-grade'>
          <option value="0">K</option>
          {% for grade in range(1,13) %}
            <option value="{{grade}}" {% if grade == 6 %} selected {% endif %}>{{grade}}</option>
          {% endfor %}
        </select></div>
        <div class='pop-up-subitem'><select type='select' id='new-program-to-grade'>
          <option value="0">K</option>
          {% for grade in range(1,13) %}
            <option value="{{grade}}" {% if grade == 8 %} selected {% endif %}>{{grade}}</option>
          {% endfor %}
        </select></div>
        <div class='pop-up-subitem'>
          <span><button class='selectable' onclick='postProgram();'>
            <img class='small-button' src="{{ url_for('images', path='/confirm.png') }}" alt='Submit'/>
          </button></span>
          <span><button class='selectable' onclick='resetNewProgram();'>
            <img class='small-button' src="{{ url_for('images', path='/cancel.png') }}" alt='Cancel'/>
          </button></span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  // One-time setup
  window.onload = function() {
    getProgramTable();
  }

  function resetNewProgram() {
    hide("new-student");
    document.getElementById('new-program-title').innerHTML = "";
    document.getElementById('new-program-tags').innerHTML = "";
    document.getElementById('new-program-from-grade').selectedIndex = 6;
    document.getElementById('new-program-to-grade').selectedIndex = 8;
    // Description intentionally left off "new program"
  }

  function addProgramToTable(program) {
    table = document.getElementById('programs-table');
    newRow = table.insertRow(table.rows.length - 1);
    newRow.classList.add('selectable');

    newCol = newRow.insertCell(0);
    newCol.hidden = true;
    newCol.innerHTML = program.id;
    newCol.onclick = function() {
      row = this.parentNode;
      programId = row.cells[0].innerHTML;
      window.open('/programs/' + programId, '_blank');
    };
    funcPtr = newCol.onclick;

    newCol = newRow.insertCell(1);
    newCol.innerHTML = program.title;
    newCol.onclick = funcPtr;

    newCol = newRow.insertCell(2);
    newCol.innerHTML = program.tags;
    newCol.onclick = funcPtr

    newCol = newRow.insertCell(3);
    from_grade = program.grade_range[0].toString();
    if (from_grade == '0') from_grade = 'K';
    to_grade = program.grade_range[1].toString();
    if (to_grade == '0') to_grade = 'K';
    newCol.innerHTML =  from_grade + ' to ' + to_grade;
    newCol.onclick = funcPtr

    newCol = newRow.insertCell(4);
    newButton = document.createElement('button');
    newButton.classList.add('selectable');
    newButton.innerHTML = 'Delete';
    newButton.onclick = function () {
      row = this.parentNode.parentNode;
      programId = row.cells[0].innerHTML;
      programTitle = row.cells[1].innerHTML;
      if (confirm('Are you sure you want to delete the program "' + programTitle + '"?')) {
        http.delete('/programs', programId);
        row.remove();
      }
    }
    newCol.appendChild(newButton);
  }

  function getProgramTable() {
    http.get('/programs').then((programList) => {
      for (const program of programList) { addProgramToTable(program); }
    });
  }

  function postProgram() {
    programTitle = document.getElementById('new-program-title').innerHTML;
    programTags = document.getElementById('new-program-tags').innerHTML;
    programFromGrade = document.getElementById('new-program-from-grade').selectedIndex;
    programToGrade = document.getElementById('new-program-to-grade').selectedIndex;
    programDescription = ""; // intentionally left off "new program"

    // TODO: create requirement for this value
    if (programTitle != "") {
      programData = new ProgramData(programTitle, programTags, [programFromGrade, programToGrade], programDescription);

      http.post('/programs', programData).then((program) => {
        window.open('/programs/' + program.id, '_blank');
      });
    }
  }

  function deleteProgram(programId) {
    http.delete('/programs', programId);
    http.redirect('/programs');
  }
{% endblock %}
