{% extends 'base.html' %}

{% block content %}
	<span class='sidebar' id='sidebar'>
    <div class='sidebar-title'><h1>Filters</h1></div>
    <hr class='h-divider'></hr>
  </span>
  <div class='content-body'>
    <div class='content-item'><h1>Camps</h1></div>
    <div class='search-box'>
      <span><img class='small-button' src="{{ url_for('images', path='/search.png') }}" alt='Search'/></span>
      <span><p contenteditable=true id='search-box-text'></p></span>
      <span><button class='selectable' onclick='window.userTable.resetSearchBox();'>
        <img class='small-button' src="{{ url_for('images', path='/cancel.png') }}" alt='Cancel'/>
      </button></span>
    </div>
    <div class='content-item'><table id='camps-table'>
      <tr class='selectable' onclick='unhide("new-camp");'><td>+ Schedule New Camp</td></tr>
    </table></div>
    <div class='pop-up' id='new-camp' hidden>
      <div>
        <h1>New Camp</h1>
        <hr class='h-divider'></hr>
      </div>
      <div>
        <div class='search-box'>
          <span><img class='small-button' src="{{ url_for('images', path='/search.png') }}" alt='Search'/></span>
          <span><p contenteditable=true id='new-camp-search-program'></p></span>
          <span><button class='selectable' onclick='window.popupTable.resetSearchBox();'>
            <img class='small-button' src="{{ url_for('images', path='/cancel.png') }}" alt='Cancel'/>
          </button></span>
        </div>
        <div>
          <span><button class='selectable' onclick='postCamp();'>
            <img class='small-button' src="{{ url_for('images', path='/confirm.png') }}" alt='Submit'/>
          </button></span>
          <span><button class='selectable' onclick='resetNewCamp();'>
            <img class='small-button' src="{{ url_for('images', path='/cancel.png') }}" alt='Cancel'/>
          </button></span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
<script src="{{ url_for('js', path='/filtertable.js') }}"></script>
<script>
  // One-time setup
  window.onload = function() {
    colMeta = [];
    colMeta.push(new FilterTableColumn('Program Title', simpleTemplate`${0}`, 'program.title', null, true));
    colMeta.push(new FilterTableColumn('Primary Instructor', simpleTemplate`${0}`, 'primary_instructor.full_name', null, true));

    var htmlTable = document.getElementById('camps-table');
    var sidebar = document.getElementById('sidebar');
    var searchBox = document.getElementById('search-box-text');
    window.userTable = new FilterTable(colMeta, htmlTable, -1, sidebar, searchBox); // -1 for row shift - we have one extra final static row for "Add Camp"

    http.get('/camps').then((campList) => {
      for (var camp of campList) {
        http.get('/programs/' + camp.program_id).then((program) => {
          camp.program = program;
          http.get('/instructors/' + camp.primary_instructor_id).then((instructor) => {
            camp.primary_instructor = instructor;
            addCampToTable(camp);
          });
        });
      }
    });

    http.get('/instructors').then((instructorList) => {
      for (const instructor of instructorList) {
        addInstructorToList(instructor);
      }
    });

    http.get('/programs').then((programList) => {
      for (const program of programList) {
        addProgramToList(program);
      }
    });
  }

  function addCampToTable(camp) {
    // TODO
  }

  function addInstructorToList(camp) {
    // TODO
  }

  function addProgramToList(camp) {
    // TODO
  }

  function resetNewCamp() {
    hide("new-camp");
  }
</script>
{% endblock %}
