{% extends 'base.html' %}

{% block content %}
	<span class='sidebar' id='sidebar'>
    <div><h1>Filters</h1></div>
    <hr class='h-divider'></hr>
    <!-- Camp filters added here -->
  </span>
  <div class='content-body'>
    <div class='content-item'><h1>Camps</h1></div>
    <div class='search-box'>
      <span><img class='small-button' src="{{ url_for('images', path='/search.png') }}" alt='Search'/></span>
      <span><p contenteditable=true id='search-box-text'></p></span>
      <span><button class='selectable' onclick='window.userTable.resetSearchBox();'>
        <img class='small-button' src="{{ url_for('images', path='/cancel.png') }}" alt='Cancel'/>
      </button></span>
    </div>
    <div class='content-item'><table id='camps-table'>
      <tr class='selectable' onclick='unhide("new-camp");'><td>+ Schedule New Camp</td></tr>
    </table></div>
  </div>
  <div class='pop-up' id='new-camp' hidden>
    <div>
      <h1>New Camp</h1>
      <hr class='h-divider'></hr>
    </div>
    <div><strong>Program:</strong></div>
    <div class='search-box'>
      <span><img class='small-button' src="{{ url_for('images', path='/search.png') }}" alt='Search'/></span>
      <span><p contenteditable=true id='new-camp-search-program'></p></span>
      <span><button class='selectable' onclick='window.newCampProgramList.resetSearchBox();'>
        <img class='small-button' src="{{ url_for('images', path='/cancel.png') }}" alt='Cancel'/>
      </button></span>
    </div>
    <div id='new-camp-program-list'>
      <!-- List of programs inserted here -->
    </div>
    <div><strong>Primary instructor:</strong></div>
    <div class='search-box'>
      <span><img class='small-button' src="{{ url_for('images', path='/search.png') }}" alt='Search'/></span>
      <span><p contenteditable=true id='new-camp-search-instructor'></p></span>
      <span><button class='selectable' onclick='window.newCampInstructorList.resetSearchBox();'>
        <img class='small-button' src="{{ url_for('images', path='/cancel.png') }}" alt='Cancel'/>
      </button></span>
    </div>
    <div id='new-camp-instructor-list'>
      <!-- List of programs inserted here -->
    </div>
    <div>
      <span><button class='selectable' onclick='postCamp(); hide("new-camp"); resetNewCamp();'>
        <img class='small-button' src="{{ url_for('images', path='/confirm.png') }}" alt='Submit'/>
      </button></span>
      <span><button class='selectable' onclick='resetNewCamp();'>
        <img class='small-button' src="{{ url_for('images', path='/cancel.png') }}" alt='Cancel'/>
      </button></span>
    </div>
  </div>
{% endblock %}

{% block script %}
<script src="{{ url_for('js', path='/filtertable.js') }}"></script>
<script src="{{ url_for('js', path='/searchlist.js') }}"></script>
<script>
  // One-time setup
  window.onload = function() {
    colMeta = [];
    colMeta.push(new FilterTableColumn('Program Title', simpleTemplate`${0}`, 'program.title', null, true));
    colMeta.push(new FilterTableColumn('Primary Instructor', simpleTemplate`${0}`, 'primary_instructor.full_name', FilterType.CheckBoxes, true));

    var htmlTable = document.getElementById('camps-table');
    var sidebar = document.getElementById('sidebar');
    var tableSearchBox = document.getElementById('search-box-text');
    window.userTable = new FilterTable(colMeta, htmlTable, -1, sidebar, tableSearchBox); // -1 for row shift - we have one extra final static row for "Add Camp"

    http.get('/camps').then((campList) => {
      for (let camp of campList) {
        http.get('/programs/' + camp.program_id).then((program) => {
          camp.program = program;
          http.get('/camps/' + camp.id + '/instructors/' + camp.primary_instructor_id).then((instructor) => {
            camp.primary_instructor = instructor;
            addCampToTable(camp);
          });
        });
      }
    });

    var htmlProgramList = document.getElementById('new-camp-program-list');
    htmlProgramList.classList.add('listbox');
    var programSearchBox = document.getElementById('new-camp-search-program');
    window.newCampProgramList = new SearchList(htmlProgramList, programSearchBox);
    http.get('/programs').then((programList) => {
      for (const program of programList) {
        window.newCampProgramList.appendValue(program.id, program.title);
      }
    });

    var htmlInstructorList = document.getElementById('new-camp-instructor-list');
    htmlInstructorList.classList.add('listbox');
    var instructorSearchBox = document.getElementById('new-camp-search-instructor');
    window.newCampInstructorList = new SearchList(htmlInstructorList, instructorSearchBox);
    http.get('/instructors').then((instructorList) => {
      for (const instructor of instructorList) {
        window.newCampInstructorList.appendValue(instructor.id, instructor.full_name);
      }
    });
  }

  function addCampToTable(camp) {
    var newRow = window.userTable.appendRow(camp);
    newRow.classList.add('selectable');
  }

  function resetNewCamp() {
    hide("new-camp");
    window.newCampProgramList.reset();
    window.newCampInstructorList.reset();
  }

  function postCamp() {
    var selectedProgram = window.newCampProgramList.selectedRow;
    var selectedInstructor = window.newCampInstructorList.selectedRow;

    // TODO: create requirement for these values
    if (selectedProgram && selectedInstructor) {
      campData = new CampData(selectedProgram.id, selectedInstructor.id);
      http.post('/camps', campData).then((camp) => {
        http.get('/programs/' + camp.program_id).then((program) => {
          camp.program = program;
          http.get('/camps/' + camp.id + '/instructors/' + camp.primary_instructor_id).then((instructor) => {
            camp.primary_instructor = instructor;
            addCampToTable(camp);
          });
        });
      });
    }
  }
</script>
{% endblock %}
