{% extends 'base.html' %}

{% block content %}
	<span class='sidebar'>
    <div class='sidebar-item'>
      <h1>Filters</h1>
      <hr class='h-divider'></hr>
    </div>
    <div class='sidebar-item' id='filters-box'>
      <!-- Camp filters added here -->
    </div>
  </span>
  <div class='content-body'>
    <div class='content-item'><h1>Camps</h1></div>
    <div class='content-item'><div class='search-box'>
      <span><img class='small-button' src="{{ url_for('images', path='/search.png') }}" alt='Search'/></span>
      <span><p contenteditable=true id='search-box-text'></p></span>
      <span><span class='selectable' onclick='window.campsTable.resetSearchBox();'>
        <img class='small-button' src="{{ url_for('images', path='/cancel.png') }}" alt='Cancel'/>
      </span></span>
    </div></div>
    <div class='content-item'><table id='camps-table'>
      <!-- Camps table rows inserted here -->
      <tr><td><button class='selectable' onclick='unhide("new-camp");'><strong>+ Schedule New Camp</strong></button></td></tr>
    </table></div>
  </div>
  <div class='pop-up' id='new-camp' hidden>
    <div>
      <h1>New Camp</h1>
      <hr class='h-divider'></hr>
    </div>
    <div><strong>Program:</strong></div>
    <div class='search-box'>
      <span><img class='small-button' src="{{ url_for('images', path='/search.png') }}" alt='Search'/></span>
      <span><p contenteditable=true id='new-camp-search-program'></p></span>
      <span><span class='selectable' onclick='window.newCampProgramList.resetSearchBox();'>
        <img class='small-button' src="{{ url_for('images', path='/cancel.png') }}" alt='Cancel'/>
      </span></span>
    </div>
    <div id='new-camp-program-list' class='listbox listbox-popup'>
      <!-- List of programs inserted here -->
    </div>
    <div><strong>Primary instructor:</strong></div>
    <div class='search-box'>
      <span><img class='small-button' src="{{ url_for('images', path='/search.png') }}" alt='Search'/></span>
      <span><p contenteditable=true id='new-camp-search-instructor'></p></span>
      <span><span class='selectable' onclick='window.newCampInstructorList.resetSearchBox();'>
        <img class='small-button' src="{{ url_for('images', path='/cancel.png') }}" alt='Cancel'/>
      </span></span>
    </div>
    <div id='new-camp-instructor-list' class='listbox listbox-popup'>
      <!-- List of instructors inserted here -->
    </div>
    <div><strong>Start time:</strong></div>
    <div><input type='datetime-local' id='new-camp-start-datetime'></div>
    <div>
      <span><button class='selectable' onclick='hide("new-camp"); postCamp(); resetNewCamp();'>
        <img class='small-button' src="{{ url_for('images', path='/confirm.png') }}" alt='Submit'/>
      </button></span>
      <span><button class='selectable' onclick='hide("new-camp"); resetNewCamp();'>
        <img class='small-button' src="{{ url_for('images', path='/cancel.png') }}" alt='Cancel'/>
      </button></span>
    </div>
  </div>
{% endblock %}

{% block script %}
<script src="{{ url_for('js', path='/filtertable.js') }}"></script>
<script src="{{ url_for('js', path='/searchlist.js') }}"></script>
<script>
  // One-time setup
  window.onload = function() {
    commonOnLoad();

    colMeta = [];
    colMeta.push(new FilterTableColumn('Program Title', DisplayType.Simple, 'tr', 'program.title', null, true));
    colMeta.push(new FilterTableColumn('Primary Instructor', DisplayType.Simple, 'tr', 'primary_instructor.full_name', FilterType.CheckBoxes, true));
    colMeta.push(new FilterTableColumn('Start Time', DisplayType.Datetime, 'tr', 'first_level_schedule.start_time', null, true));
    colMeta.push(new FilterTableColumn('Published?', DisplayType.Boolean, 'tr', 'is_published', FilterType.CheckBoxes, false));

    let htmlTable = document.getElementById('camps-table');
    let filtersBox = document.getElementById('filters-box');
    let tableSearchBox = document.getElementById('search-box-text');
    window.campsTable = new FilterTable(colMeta, htmlTable, -1, filtersBox, tableSearchBox); // -1 for row shift - we have one extra final static row for "Add Camp"

    http.get('/schedule').then((campList) => {
      for (let camp of campList) {
        http.get('/programs/' + camp.program_id).then((program) => {
          camp.program = program;
          http.get('/programs/' + camp.program_id + '/levels').then((levelList) => {
            http.get('/camps/' + camp.id + '/levels/' + levelList[0].id).then((firstLevelSchedule) => {
              camp.first_level_schedule = firstLevelSchedule;
              http.get('/camps/' + camp.id + '/instructors/' + camp.primary_instructor_id).then((instructor) => {
                camp.primary_instructor = instructor;
                addCampToTable(camp);
              });
            });
          });
        });
      }
    });

    let htmlProgramList = document.getElementById('new-camp-program-list');
    let programSearchBox = document.getElementById('new-camp-search-program');
    window.newCampProgramList = new SearchList(htmlProgramList, programSearchBox);
    http.get('/programs').then((programList) => {
      for (const program of programList) {
        window.newCampProgramList.appendValue(program.id, program.title);
      }
    });

    let htmlInstructorList = document.getElementById('new-camp-instructor-list');
    let instructorSearchBox = document.getElementById('new-camp-search-instructor');
    window.newCampInstructorList = new SearchList(htmlInstructorList, instructorSearchBox);
    http.get('/instructors').then((instructorList) => {
      for (const instructor of instructorList) {
        window.newCampInstructorList.appendValue(instructor.id, instructor.full_name + ' (' + instructor.primary_email_address + ')');
      }
    });

    resetNewCamp();
  }

  function addCampToTable(camp) {
    let newRow = window.campsTable.appendRow(camp);
    newRow.classList.add('selectable');
    newRow.campId = camp.id;

    commonOnClick = function() {
      row = this.parentNode;
      http.redirect('/schedule/' + row.campId);
    };
    for (let col of newRow.childNodes) col.onclick = commonOnClick;

    // Add a delete button off the right side
    let newCol = newRow.insertCell();
    let newButton = document.createElement('button');
    newButton.classList.add('selectable');
    newButton.onclick = function () {
      let row = this.parentNode.parentNode;
      let programTitle = row.cells[0].innerHTML;
      if (confirm('Are you sure you want to delete this camp?')) {
        http.delete('/camps', row.campId);
        row.remove();
      }
    }
    newCol.appendChild(newButton);

    
    let text = document.createElement('strong');
    text.innerHTML = 'Delete';
    newButton.appendChild(text);
  }

  function resetNewCamp() {
    window.newCampProgramList.reset();
    window.newCampInstructorList.reset();

    // Set to next Monday at 9am
    // toISOString always reports in UTC, so set according to UTC
    let date = new Date();
    let shiftDays = 8 - date.getUTCDay();
    date.setUTCDate(date.getUTCDate() + shiftDays);
    date.setUTCHours(9, 0, 0);
    document.getElementById('new-camp-start-datetime').value = date.toISOString().slice(0,16);
  }

  function postCamp() {
    let selectedProgram = window.newCampProgramList.selectedRow;
    let selectedInstructor = window.newCampInstructorList.selectedRow;
    let startDateTime = document.getElementById('new-camp-start-datetime').value;

    // TODO: create requirement for these values
    if (selectedProgram && selectedInstructor) {
      campData = new CampData(selectedProgram.id, selectedInstructor.id, false);
      firstLevelScheduleData = new LevelSchedule(startDateTime, null);
      http.post('/camps', campData).then((camp) => {
        http.get('/programs/' + camp.program_id).then((program) => {
          camp.program = program;
          http.get('/programs/' + camp.program_id + '/levels').then((levelList) => {
            firstLevelId = levelList[0].id;
            http.put('/camps/' + camp.id + '/levels', firstLevelId, firstLevelScheduleData).then((firstLevelSchedule) => {
              firstLevelSchedule.start_date = firstLevelSchedule.start_time.split('T')[0];
              camp.first_level_schedule = firstLevelSchedule;
              http.get('/camps/' + camp.id + '/instructors/' + camp.primary_instructor_id).then((instructor) => {
                camp.primary_instructor = instructor;
                addCampToTable(camp);
              });
            });
          });
        });
      });
    }
  }
</script>
{% endblock %}
