{% extends 'base.html' %}

{% block content %}
  <span class='content-body'>
    <div class='content-item'>
      <h1>Camp</h1>
      <hr class='h-divider'></hr>
    </div>
    <div class='content-item'>
      <span><strong>Program: </strong><span id='program-title' class='selectable'></span></span>
    </div>
    <div class='content-item'>
      <span><strong>Instructors: </strong></span>
    </div>
    <div class='content-item'><div id='instructors-box' class='listbox'>
      <!-- List of instructors assigned to this camp here -->
      <div><button class='selectable' onclick='unhide("add-instructor");'><strong>+ Add Instructor</strong></button></div>
    </div></div>
    <div class='content-item'>
      <span><strong>Enrolled students: </strong></span>
    </div>
    <div class='content-item'><div id='students-box' class='listbox'>
      <!-- List of students enrolled in this camp here -->
      <div><p>(None)</p></div>
    </div></div>
    <div class='content-item'>
      <button class='selectable' onclick="if (confirm('Are you sure you want to publish this camp?')) publishCamp(true);" id='camp-publish'>
        <span><strong>Publish Camp for Enrollment</strong></span>
      </button>
      <button class='selectable' onclick="if (confirm('Are you sure you want to unpublish this camp?')) publishCamp(false);" id='camp-unpublish'>
        <span><strong>Unpublish Camp</strong></span>
      </button>
    </div>
    <div class='content-item' id='camp-delete'>
      <button class='selectable' onclick="confirmDeleteCamp();">
        <span><img class='small-button' src="{{ url_for('images', path='/cancel.png') }}" alt='Delete'/></span>
        <span><strong>Delete Camp</strong></span>
      </button>
    </div>
  </span>
  <div class="v-divider"></div>
  <span class='content-body'>
    <div class='content-item'><h1>Level Schedules</h1></div>
    <div class='content-item'><table id='levels-table'>
      <!-- Levels table rows inserted here -->
    </table></div>
  </span>
  <div class='pop-up' id='add-instructor' hidden>
    <div>
      <h1>Add instructor</h1>
      <hr class='h-divider'></hr>
    </div>
    <div class='search-box'>
      <span><img class='small-button' src="{{ url_for('images', path='/search.png') }}" alt='Search'/></span>
      <span><p contenteditable=true id='add-instructor-search'></p></span>
      <span><span class='selectable' onclick='window.allInstructorsList.resetSearchBox();'>
        <img class='small-button' src="{{ url_for('images', path='/cancel.png') }}" alt='Cancel'/>
      </span></span>
    </div>
    <div id='add-instructor-list' class='listbox listbox-popup'>
      <!-- List of all possible instructors inserted here -->
    </div>
    <div>
      <span><button class='selectable' onclick='hide("add-instructor"); postCampInstructor(); window.allInstructorsList.reset();'>
        <img class='small-button' src="{{ url_for('images', path='/confirm.png') }}" alt='Submit'/>
      </button></span>
      <span><button class='selectable' onclick='hide("add-instructor"); window.allInstructorsList.reset();'>
        <img class='small-button' src="{{ url_for('images', path='/cancel.png') }}" alt='Cancel'/>
      </button></span>
    </div>
  </div>
  <div id='instructor-rightclick' class='rightclick-box' hidden>
    <div class='selectable'><p>Make primary</p></div>
    <div class='selectable'><p>Delete</p></div>
  </div>
{% endblock %}

{% block script %}
<script src="{{ url_for('js', path='/searchlist.js') }}"></script>
<script src="{{ url_for('js', path='/filtertable.js') }}"></script>
<script>
  // One-time setup
  window.onload = function() {
    commonOnLoad();

    campId = getCampIdStr();

    colMeta = [];
    colMeta.push(new FilterTableColumn('Level', DisplayType.Simple, 'tr', 'list_index', null, false));
    colMeta.push(new FilterTableColumn('Title', DisplayType.Simple, 'tr', 'title', null, true));
    colMeta.push(new FilterTableColumn('Start Time', DisplayType.Datetime, 'tr', 'levelSchedule.start_time', null, true));
    colMeta.push(new FilterTableColumn('End Time', DisplayType.Datetime, 'tr', 'levelSchedule.end_time', null, true));

    let htmlTable = document.getElementById('levels-table');
    window.userTable = new FilterTable(colMeta, htmlTable, 0, null, null);

    http.get('/camps/' + campId).then((camp) => {
      window.camp = camp;
      if (camp.is_published) {
        unhide('camp-unpublish');
        hide('camp-publish');
      }
      else {
        hide('camp-unpublish');
        unhide('camp-publish');
      }
      http.get('/programs/' + camp.program_id).then((program) => {
        http.get('/programs/' + camp.program_id + '/levels').then((levelList) => {
          for (let level of levelList) {
            http.get('/camps/' + campId + '/levels/' + level.id).then((levelSchedule) => {
              level.levelSchedule = levelSchedule;
              addLevelToTable(level);
            });
          }
        });
        let programTitle = document.getElementById('program-title');
        programTitle.innerText = program.title;
        programTitle.onclick = function () {  window.open('/programs/' + program.id, '_blank'); }
      });

      http.get('/camps/' + campId + '/instructors').then((instructorList) => {
        for (const instructor of instructorList) {
          addInstructorToList(instructor);
        }
      });

      http.get('/camps/' + campId + '/students').then((studentList) => {
        if (studentList.length > 0) {
          let studentsBox = document.getElementById('students-box');
          studentsBox.firstElementChild.hidden = true;
        }
        for (const student of studentList) {
          addStudentToList(student);
        }
      });
    });

    let htmlInstructorList = document.getElementById('add-instructor-list');
    let instructorSearchBox = document.getElementById('add-instructor-search');
    window.allInstructorsList = new SearchList(htmlInstructorList, instructorSearchBox);
    http.get('/instructors').then((instructorList) => {
      for (const instructor of instructorList) {
        window.allInstructorsList.appendValue(instructor.id, instructor.full_name + ' (' + instructor.primary_email_address + ')');
      }
    });

    document.addEventListener('click', function (event) {
      let contextmenu = document.getElementById('instructor-rightclick');
      contextmenu.hidden = true;
    });
  }

  function getCampIdStr() {
    const urlAsArray = document.URL.split("/");
    return urlAsArray[urlAsArray.indexOf("schedule")+1];
  }

  function addLevelToTable(level) {
    let campId = window.camp.id;
    let newRow = window.userTable.appendRow(level);
    let startTime = newRow.cells[2].firstChild;
    let endTime = newRow.cells[3].firstChild;

    // Add edit/confirm/cancel buttons off the right side
    let newCol = newRow.insertCell();

    let editButton = document.createElement('button');
    let editImage = document.createElement('img');
    editButton.classList.add('selectable');
    editImage.classList.add('small-button');
    editImage.src = '{{ url_for("images", path="/pencil.png") }}';
    editImage.alt = 'Edit';
    editButton.appendChild(editImage);

    let confirmButton = document.createElement('button');
    let confirmImage = document.createElement('img');
    confirmButton.hidden = true;
    confirmButton.classList.add('selectable');
    confirmImage.classList.add('small-button');
    confirmImage.src = '{{ url_for("images", path="/confirm.png") }}';
    confirmImage.alt = 'Submit';
    confirmButton.appendChild(confirmImage);

    let cancelButton = document.createElement('button');
    let cancelImage = document.createElement('img');
    cancelButton.hidden = true;
    cancelButton.classList.add('selectable');
    cancelImage.classList.add('small-button');
    cancelImage.src = '{{ url_for("images", path="/cancel.png") }}';
    cancelImage.alt = 'Cancel';
    cancelButton.appendChild(cancelImage);

    editButton.onclick = function () {
      editButton.hidden = true;
      confirmButton.hidden = false;
      cancelButton.hidden = false;
      startTime.disabled = false;
      endTime.disabled = false;
    }

    confirmButton.onclick = function () {
      confirmButton.hidden = true;
      cancelButton.hidden = true;
      startTime.disabled = true;
      endTime.disabled = true;

      let levelScheduleData = new LevelSchedule(startTime.value, endTime.value);
      http.put('/camps/' + campId + '/levels', level.id, levelScheduleData).then((levelSchedule) => {
        startTime.value = levelSchedule.start_time;
        endTime.value = levelSchedule.end_time;
        editButton.hidden = false;
      });
    }

    cancelButton.onclick = function () {
      confirmButton.hidden = true;
      cancelButton.hidden = true;
      startTime.disabled = true;
      endTime.disabled = true;

      http.get('/camps/' + campId + '/levels/' + level.id).then((levelSchedule) => {
        startTime.value = levelSchedule.start_time;
        endTime.value = levelSchedule.end_time;
        editButton.hidden = false;
      });
    }

    newCol.appendChild(editButton);
    newCol.appendChild(confirmButton);
    newCol.appendChild(cancelButton);
  }

  function addInstructorToList(instructor) {
    let instructorBox = document.getElementById('instructors-box');

    let box = document.createElement('div');
    box.classList.add('selectable');
    box.innerText = instructor.full_name + ' (' + instructor.primary_email_address + ')';
    box.instructor = instructor;
    box.onclick = function () { window.open('/insructors/' + instructor.id, '_blank'); }
    if (instructor.is_primary) instructorBox.primaryInstructorBox = box;
    box.addEventListener('contextmenu', function (event) {
      event.preventDefault();

      let contextmenu = document.getElementById('instructor-rightclick');
      contextmenu.hidden = false;
      contextmenu.style.left = event.x + 'px';
      contextmenu.style.top = event.y + 'px';
      let instructor = box.instructor;

      let makePrimaryBox = contextmenu.firstElementChild;
      makePrimaryBox.instructor = instructor;
      if (instructor.is_primary) {
        makePrimaryBox.hidden = true;
      }
      else {
        makePrimaryBox.hidden = false;
        makePrimaryBox.onclick = function () {
          let instructorBox = document.getElementById('instructors-box');
          let campId = window.camp.id;
          let isPublished = window.camp.is_published;
          let programId = window.camp.program_id;
          let campData = new CampData(programId, this.instructor.id, isPublished);
          http.put('/camps', campId, campData).then((camp) => {
            window.camp = camp;
            instructorBox.primaryInstructorBox.instructor.is_primary = false;
            instructor.is_primary = true;
            instructorBox.primaryInstructorBox = this;
          });

          let contextmenu = document.getElementById('instructor-rightclick');
          contextmenu.hidden = true;
        }
      }

      let deleteBox = contextmenu.lastElementChild;
      deleteBox.instructor = instructor;
      deleteBox.onclick = function () {
        let campId = window.camp.id;
        http.delete('/camps/' + campId + '/instructors', this.instructor.id);
        box.remove();

        let contextmenu = document.getElementById('instructor-rightclick');
        contextmenu.hidden = true;
      }

      return false;
    }, false);
    instructorBox.insertBefore(box, instructorBox.lastElementChild);
  }

  function addStudentToList(student) {
    let box = document.createElement('div'); // top-level box

    let text = document.createElement('p');
    text.innerText = student.name;
    let textBox = document.createElement('span');
    textBox.appendChild(text);

    let deleteImage = document.createElement('img');
    deleteImage.classList.add('small-button');
    deleteImage.src = "{{ url_for('images', path='/cancel.png') }}";
    deleteImage.alt = 'Remove Student';

    let button = document.createElement('button');
    button.classList.add('selectable');
    button.student = student;
    button.onclick = function() {
      if (confirm('Are you sure you want to remove ' + text.innerText + ' from this camp?')) {
        let campId = window.camp.id;
        http.delete('/camps/' + campId + '/students', this.student.id);
        if (box.parentNode.childElementCount === 2) {
          box.parentNode.firstElementChild.hidden = false;
        }
        box.remove();
      }
    }
    button.appendChild(deleteImage);

    let buttonBox = document.createElement('span');
    buttonBox.appendChild(button);

    box.appendChild(textBox);
    box.appendChild(buttonBox);

    let studentsBox = document.getElementById('students-box');
    studentsBox.appendChild(box);
  }

  function publishCamp(isPublished) {
    let campId = window.camp.id;
    let programId = window.camp.program_id;
    let primaryInstructorId = window.camp.primary_instructor_id;
    let campData = new CampData(programId, primaryInstructorId, isPublished);
    http.put('/camps', campId, campData).then((camp) => {
      window.camp = camp;
      if (camp.is_published) {
        unhide('camp-unpublish');
        hide('camp-publish');
      }
      else {
        hide('camp-unpublish');
        unhide('camp-publish');
      }
    });
  }

  function postCampInstructor() {
    let campId = window.camp.id;
    let selectedInstructor = window.allInstructorsList.selectedRow;

    // TODO: create requirement for this value
    if (selectedInstructor) {
      http.post('/camps/' + campId + '/instructors/' + selectedInstructor.id, null).then((instructor) => {
        addInstructorToList(instructor);
      });
    }
  }

  function confirmDeleteCamp() {
    let campId = window.camp.id;
    if (confirm('Are you sure you want to delete this camp?')) {
      http.delete('/camps', campId);
      http.redirect('/schedule');
    }
  }
</script>
{% endblock %}
