{% extends 'base.html' %}

{% block content %}
  <span class='content-body'>
    <div class='content-item'>
      <h1 class='selectable'><a id='program-title'></a></h1>
      <hr class='h-divider'></hr>
    </div>
    <div class='content-item'>
      <span><strong>Instructors: </strong></span>
    </div>
    <div class='content-item'><div id='instructors-box' class='listbox'>
      <!-- List of instructors assigned to this camp here -->
      <div><button class='selectable' onclick='unhide("add-instructor");'><strong>+ Add Instructor</strong></button></div>
    </div></div>
    <div class='content-item'>
      <span><strong>Enrolled students: </strong></span>
    </div>
    <div class='content-item'><div id='students-box' class='listbox'>
      <!-- List of students enrolled in this camp here -->
      <div><p>(None)</p></div>
    </div></div>
    <div class='content-item'>
      <button class='selectable' onclick="if (confirm('Are you sure you want to publish this camp?')) publishCamp(true);" id='camp-publish'>
        <span><strong>Publish Camp for Enrollment</strong></span>
      </button>
      <button class='selectable' onclick="if (confirm('Are you sure you want to unpublish this camp?')) publishCamp(false);" id='camp-unpublish'>
        <span><strong>Unpublish Camp</strong></span>
      </button>
    </div>
    <div class='content-item' id='camp-delete'>
      <button class='selectable' onclick="confirmDeleteCamp();">
        <span><img class='small-button' src="/images/cancel.png" alt='Delete'/></span>
        <span><strong>Delete Camp</strong></span>
      </button>
    </div>
  </span>
  <div class="v-divider"></div>
  <span class='content-body'>
    <div class='content-item'><h1>Level Schedules</h1></div>
    <div class='content-item'><table id='levels-table'>
      <!-- Levels table rows inserted here -->
    </table></div>
  </span>
  <div class='pop-up' id='add-instructor' hidden>
    <div>
      <h1>Add instructor</h1>
      <hr class='h-divider'></hr>
    </div>
    <div class='search-box'>
      <span><img class='small-button' src="/images/search.png" alt='Search'/></span>
      <span><p contenteditable=true id='add-instructor-search'></p></span>
      <span><span class='selectable' onclick='window.allInstructorsList.resetSearchBox();'>
        <img class='small-button' src="/images/cancel.png" alt='Cancel'/>
      </span></span>
    </div>
    <div id='add-instructor-list' class='listbox listbox-popup'>
      <!-- List of all possible instructors inserted here -->
    </div>
    <div>
      <span><button class='selectable' onclick='hide("add-instructor"); postCampInstructor(); window.allInstructorsList.reset();'>
        <img class='small-button' src="/images/confirm.png" alt='Submit'/>
      </button></span>
      <span><button class='selectable' onclick='hide("add-instructor"); window.allInstructorsList.reset();'>
        <img class='small-button' src="/images/cancel.png" alt='Cancel'/>
      </button></span>
    </div>
  </div>
{% endblock %}

{% block script %}
<script src="/js/searchlist.js"></script>
<script src="/js/filtertable.js"></script>
<script>
  const LvlTblColIdx = {
      Level: 0,
      Title: 1,
      StartTime: 2,
      EndTime: 3
  };

  window.onload = function() {
    commonOnLoad();

    campId = getCampIdStr();

    let colMeta = Array(Object.keys(LvlTblColIdx).length).fill(null);
    colMeta[LvlTblColIdx.Level] = new FilterTableColumnConfig('Level', DisplayType.Simple, 'tr', filterType=null, searchable=false, sortable=true);
    colMeta[LvlTblColIdx.Title] = new FilterTableColumnConfig('Title', DisplayType.Simple, 'tr', filterType=null, searchable=true, sortable=true);
    colMeta[LvlTblColIdx.StartTime] = new FilterTableColumnConfig('Start Time', DisplayType.Datetime, 'tr', filterType=null, searchable=false, sortable=false);
    colMeta[LvlTblColIdx.EndTime] = new FilterTableColumnConfig('End Time', DisplayType.Datetime, 'tr', filterType=null, searchable=false, sortable=false);

    let htmlTable = document.getElementById('levels-table');
    let sortImages = ['/images/levelup.png', '/images/leveldown.png'];
    window.leveslTable = new FilterTable(colMeta, htmlTable, 0, null, null, sortImages);

    http.get('/camps/' + campId).then((camp) => {
      window.camp = camp;
      if (camp.is_published) {
        unhide('camp-unpublish');
        hide('camp-publish');
      }
      else {
        hide('camp-unpublish');
        unhide('camp-publish');
      }

      http.get('/programs/' + camp.program_id).then((program) => {
        let programTitle = document.getElementById('program-title');
        programTitle.innerText = program.title;
        programTitle.href = '/programs/' + program.id;
      });

      http.get('/programs/' + camp.program_id + '/levels').then((levelList) => {
        let levelPromises = [];
        let levelRows = [];
        for (const level of levelList) {
          levelPromises.push(http.get('/camps/' + campId + '/levels/' + level.id));

          let levelRow = addLevelToTable(level);
          levelRows.push(levelRow);

          let levelCol = levelRow.filterTableColumns[LvlTblColIdx.Level];
          levelCol.setValue(level.list_index);

          let levelTitle = levelRow.filterTableColumns[LvlTblColIdx.Title];
          levelTitle.setValue(level.title);
        }
        for (const levelIdx in levelList) {
          let level = levelList[levelIdx];
          let levelRow = levelRows[levelIdx];

          const levelPromise = levelPromises[levelIdx];
          levelPromise.then((levelSchedule) => {
            let startTimeCol = levelRow.filterTableColumns[LvlTblColIdx.StartTime];
            startTimeCol.setValue(levelSchedule.start_time);

            let endTimeCol = levelRow.filterTableColumns[LvlTblColIdx.EndTime];
            endTimeCol.setValue(levelSchedule.end_time);
          });
        }
        Promise.all(levelPromises).then((levelSchedules) => {
          window.leveslTable.sort();
        });
      });

      http.get('/camps/' + campId + '/instructors').then((instructorList) => {
        for (const instructor of instructorList) {
          addInstructorToList(instructor);
        }
      });

      http.get('/camps/' + campId + '/students').then((studentList) => {
        if (studentList.length > 0) {
          let studentsBox = document.getElementById('students-box');
          studentsBox.firstElementChild.hidden = true;
        }
        for (const student of studentList) {
          addStudentToList(student);
        }
      });
    });

    let htmlInstructorList = document.getElementById('add-instructor-list');
    let instructorSearchBox = document.getElementById('add-instructor-search');
    window.allInstructorsList = new SearchList(htmlInstructorList, instructorSearchBox);
    http.get('/instructors').then((instructorList) => {
      for (const instructor of instructorList) {
        window.allInstructorsList.appendValue(instructor.id, instructor.full_name);
      }
    });
  }

  function getCampIdStr() {
    const urlAsArray = document.URL.split("/");
    return urlAsArray[urlAsArray.indexOf("schedule")+1];
  }

  function addLevelToTable(level) {
    let newRow = window.leveslTable.appendEmptyRow();

    // Add edit/confirm/cancel buttons off the right side
    let editButton = document.createElement('button');
    let editImage = document.createElement('img');
    editButton.classList.add('selectable');
    editImage.classList.add('small-button');
    editImage.src = '/images/pencil.png';
    editImage.alt = 'Edit';
    editButton.appendChild(editImage);

    let confirmButton = document.createElement('button');
    let confirmImage = document.createElement('img');
    confirmButton.hidden = true;
    confirmButton.classList.add('selectable');
    confirmImage.classList.add('small-button');
    confirmImage.src = '/images/confirm.png';
    confirmImage.alt = 'Submit';
    confirmButton.appendChild(confirmImage);

    let cancelButton = document.createElement('button');
    let cancelImage = document.createElement('img');
    cancelButton.hidden = true;
    cancelButton.classList.add('selectable');
    cancelImage.classList.add('small-button');
    cancelImage.src = '/images/cancel.png';
    cancelImage.alt = 'Cancel';
    cancelButton.appendChild(cancelImage);

    editButton.levelRow = newRow;
    editButton.onclick = function () {
      editButton.hidden = true;
      confirmButton.hidden = false;
      cancelButton.hidden = false;

      let levelRow = this.levelRow;
      let startTimeCol = levelRow.filterTableColumns[LvlTblColIdx.StartTime];
      let endTimeCol = levelRow.filterTableColumns[LvlTblColIdx.EndTime];
      startTimeCol.elem.disabled = false;
      endTimeCol.elem.disabled = false;
    }

    confirmButton.levelRow = newRow;
    confirmButton.level = level;
    confirmButton.onclick = function () {

      confirmButton.hidden = true;
      cancelButton.hidden = true;

      let campId = window.camp.id;
      let levelRow = this.levelRow;
      let startTime = levelRow.filterTableColumns[LvlTblColIdx.StartTime];
      let endTime = levelRow.filterTableColumns[LvlTblColIdx.EndTime];
      let levelScheduleData = new LevelSchedule(startTime.elem.value, endTime.elem.value);
      http.put('/camps/' + campId + '/levels', this.level.id, levelScheduleData).then((levelSchedule) => {
        let startTimeCol = levelRow.setColValue(LvlTblColIdx.StartTime, levelSchedule.start_time);
        startTimeCol.elem.disabled = true;;

        let endTimeCol = levelRow.setColValue(LvlTblColIdx.EndTime, levelSchedule.end_time);
        endTimeCol.elem.disabled = true;

        editButton.hidden = false;
      });
    }

    cancelButton.levelRow = newRow;
    cancelButton.level = level;
    cancelButton.onclick = function () {
      let levelRow = this.levelRow;
      confirmButton.hidden = true;
      cancelButton.hidden = true;

      let campId = window.camp.id;
      let row = this.levelRow;
      http.get('/camps/' + campId + '/levels/' + this.level.id).then((levelSchedule) => {
        let startTimeCol = levelRow.setColValue(LvlTblColIdx.StartTime, levelSchedule.start_time);
        startTimeCol.elem.disabled = true;;

        let endTimeCol = levelRow.setColValue(LvlTblColIdx.EndTime, levelSchedule.end_time);
        endTimeCol.elem.disabled = true;

        editButton.hidden = false;
      });
    }

    let newCol = newRow.insertCell();
    newCol.appendChild(editButton);
    newCol.appendChild(confirmButton);
    newCol.appendChild(cancelButton);

    return newRow;
  }

  function addInstructorToList(instructor) {
    let instLink = document.createElement('a');
    instLink.classList.add('selectable');
    instLink.href = '/instructors/' + instructor.id;
    instLink.innerText = instructor.full_name;
    let instBox = document.createElement('span');
    instBox.appendChild(instLink);

    let makePrimaryImg = document.createElement('img');
    makePrimaryImg.classList.add('small-button');
    makePrimaryImg.src = '/images/levelup.png';
    makePrimaryImg.alt = 'Make primary';
    let makePrimaryBtn = document.createElement('button');
    makePrimaryBtn.classList.add('selectable');
    makePrimaryBtn.appendChild(makePrimaryImg);
    makePrimaryBtn.instructor = instructor;
    makePrimaryBtn.instructorName = instLink;
    makePrimaryBtn.onclick = function() {
      if (confirm('Make ' + this.instructor.full_name + ' primary?')) {
        let campId = window.camp.id;
        let isPublished = window.camp.is_published;
        let programId = window.camp.program_id;
        let campData = new CampData(programId, this.instructor.id, isPublished);
        http.put('/camps', campId, campData).then((camp) => {
          window.camp = camp;
          let instructorsBox = document.getElementById('instructors-box');
          instructorsBox.primaryInstructor.instructor.is_primary = false;
          instructorsBox.primaryInstructor.instructorName.innerText = this.instructor.full_name;
          instructorsBox.primaryInstructor.parentNode.hidden = false;
          instructorsBox.primaryInstructor.hidden = false;
          instructorsBox.primaryInstructor.removeBtn.parentNode.hidden = false;
          instructorsBox.primaryInstructor.removeBtn.hidden = false;
          this.instructor.is_primary = true;
          this.instructorName.innerText += ' (primary)';
          this.parentNode.hidden = true;
          this.hidden = true;
          this.removeBtn.parentNode.hidden = true;
          this.removeBtn.hidden = true;
          instructorsBox.primaryInstructor = this;
        });
      }
    }
    let makePrimary = document.createElement('span');
    makePrimary.appendChild(makePrimaryBtn);

    let removeImg = document.createElement('img');
    removeImg.classList.add('small-button');
    removeImg.src = '/images/cancel.png';
    removeImg.alt = 'Remove';
    let removeBtn = document.createElement('button');
    removeBtn.classList.add('selectable');
    removeBtn.instructor = instructor;
    removeBtn.appendChild(removeImg);
    removeBtn.onclick = function() {
      if (confirm('Remove ' + this.instructor.full_name + ' as instructor?')) {
        let campId = window.camp.id;
        http.delete('/camps/' + campId + '/instructors', this.instructor.id);
        this.parentNode.parentNode.remove();
      }
    }
    makePrimaryBtn.removeBtn = removeBtn;
    let remove = document.createElement('span');
    remove.appendChild(removeBtn);

    let box = document.createElement('div');
    box.appendChild(instBox);
    box.appendChild(makePrimary);
    box.appendChild(remove);

    let instructorsBox = document.getElementById('instructors-box');
    instructorsBox.insertBefore(box, instructorsBox.lastElementChild);

    if (instructor.is_primary) {
      instructorsBox.primaryInstructor = makePrimaryBtn;
      instLink.innerText += ' (primary)';
      makePrimary.hidden = true;
      makePrimary.firstElementChild.hidden = true;
      remove.hidden = true;
      remove.firstElementChild.hidden = true;
    }
  }

  function addStudentToList(student) {
    let box = document.createElement('div'); // top-level box

    let text = document.createElement('p');
    text.innerText = student.name;
    let link = document.createElement('a');
    link.href = '/teach/' + window.camp.id + '/students/' + student.id;
    link.appendChild(text);
    let textBox = document.createElement('span');
    textBox.classList.add('selectable');
    textBox.appendChild(link);

    let deleteImage = document.createElement('img');
    deleteImage.classList.add('small-button');
    deleteImage.src = "/images/cancel.png";
    deleteImage.alt = 'Remove Student';

    let button = document.createElement('button');
    button.classList.add('selectable');
    button.student = student;
    button.onclick = function() {
      if (confirm('Are you sure you want to remove ' + text.innerText + ' from this camp?')) {
        let campId = window.camp.id;
        http.delete('/camps/' + campId + '/students', this.student.id);
        if (box.parentNode.childElementCount === 2) {
          box.parentNode.firstElementChild.hidden = false;
        }
        box.remove();
      }
    }
    button.appendChild(deleteImage);

    let buttonBox = document.createElement('span');
    buttonBox.appendChild(button);

    box.appendChild(textBox);
    box.appendChild(buttonBox);

    let studentsBox = document.getElementById('students-box');
    studentsBox.appendChild(box);
  }

  function publishCamp(isPublished) {
    let campId = window.camp.id;
    let programId = window.camp.program_id;
    let primaryInstructorId = window.camp.primary_instructor_id;
    let campData = new CampData(programId, primaryInstructorId, isPublished);
    http.put('/camps', campId, campData).then((camp) => {
      window.camp = camp;
      if (camp.is_published) {
        unhide('camp-unpublish');
        hide('camp-publish');
      }
      else {
        hide('camp-unpublish');
        unhide('camp-publish');
      }
    });
  }

  function postCampInstructor() {
    let campId = window.camp.id;
    let selectedInstructor = window.allInstructorsList.selectedRow;

    // TODO: create requirement for this value
    if (selectedInstructor) {
      http.post('/camps/' + campId + '/instructors/' + selectedInstructor.id, null).then((instructor) => {
        addInstructorToList(instructor);
      });
    }
  }

  function confirmDeleteCamp() {
    let campId = window.camp.id;
    if (confirm('Are you sure you want to delete this camp?')) {
      http.delete('/camps', campId);
      http.redirect('/schedule');
    }
  }
</script>
{% endblock %}
