{% extends 'base.html' %}

{% block content %}
  <span class='sidebar' id='sidebar'>
    <div class='sidebar-item'>
      <h1>My Students</h1>
      <hr class='h-divider'></hr>
    </div>
    <!-- Students added here -->
    <div class='sidebar-item'>
      <div><button class='selectable' onclick="unhide('new-student')"><strong>+ Add Student</strong></button></div>
    </div>
  </span>
  <span class='content-body' id='content-body-1' hidden>
    <div class='content-item'>
      <h1>
        <span>Student Profile</span>
        <span><button class='selectable' id='student-edit' onclick='edit(["student-name", "student-birthdate", "student-grade"]); hide(["student-edit", "student-delete"]); unhide(["student-submit", "student-cancel"]);'>
          <img class='small-button' src="{{ url_for('images', path='/pencil.png') }}" alt='Edit'/>
        </button></span>
        <span><button class='selectable' id='student-submit' onclick='putStudent(); unhide(["student-edit", "student-delete"]); hide(["student-submit", "student-cancel"]);' hidden>
          <img class='small-button' src="{{ url_for('images', path='/confirm.png') }}" alt='Submit'/>
        </button></span>
        <span><button class='selectable' id='student-cancel' onclick='getStudent(null); unhide(["student-edit", "student-delete"]); hide(["student-submit", "student-cancel"]);' hidden>
          <img class='small-button' src="{{ url_for('images', path='/cancel.png') }}" alt='Cancel'/>
        </button></span>
      </h1>
      <hr class='h-divider'></hr>
    </div>
    <div class='content-item' hidden>
      <span><strong>ID: </strong><span id='student-id'></span></span>
    </div>
    <div class='content-item'>
      <span><strong>Name: </strong><span id='student-name'></span></span>
    </div>
    <div class='content-item'>
      <span><strong>Birthdate: </strong><input type='date' id='student-birthdate'></span>
    </div>
    <div class='content-item'>
      <span>
        <strong>Current grade level: </strong>
        <select type='select' id='student-grade'>
          <option value="0">K</option>
          {% for grade in range(1,13) %}
            <option value="{{grade}}">{{grade}}</option>
          {% endfor %}
        </select>
      </span>
    </div>
    <div class='content-item' id='student-delete'>
      <button class='selectable' onclick="if (confirm('Are you sure you want to delete this student?')) { deleteStudent(); }">
        <span><img class='small-button' src="{{ url_for('images', path='/cancel.png') }}" alt='Delete'/></span>
        <span><strong>Delete Student</strong></span>
      </button>
    </div>
  </span>
  <div class="v-divider" id='content-body-2' hidden></div>
  <span class='content-body' id='content-body-3' hidden>
    <div class='content-item'>
      <h1>Enrolled Camps</h1>
      <hr class='h-divider'></hr>
    </div>
    <div class='content-item' id='camps-list'>
    </div>
  </span>
  <div class='pop-up' id='new-student' hidden>
    <div>
      <h1>New Student</h1>
      <hr class='h-divider'></hr>
    </div>
    <div><strong >Name:</strong></div>
    <div class='pop-up-textbox'><p contenteditable='true' id='new-student-name'></p></div>
    <div><strong>Birthdate:</strong></div>
    <div><input type='date' id='new-student-birthdate'></div>
    <div><strong>Current grade level:</strong></div>
    <div><select type='select' id='new-student-grade'>
      <option value="0">K</option>
      {% for grade in range(1,13) %}
        <option value="{{grade}}" {% if grade == 6 %} selected {% endif %}>{{grade}}</option>
      {% endfor %}
    </select></div>
    <div>
      <span><button class='selectable' onclick='postStudent(); resetNewStudent();'>
        <img class='small-button' src="{{ url_for('images', path='/confirm.png') }}" alt='Submit'/>
      </button></span>
      <span><button class='selectable' onclick='resetNewStudent();'>
        <img class='small-button' src="{{ url_for('images', path='/cancel.png') }}" alt='Cancel'/>
      </button></span>
    </div>
  </div>
{% endblock %}

{% block script %}
<script>
  window.onload = function () {
    commonOnLoad();

    getStudentList();
  }

  function displayStudent(student) {
    unhide(["content-body-1", "content-body-2", "content-body-3"]);

    studentId = document.getElementById('student-id'); // not actually displayed right now, but this is where we stick the ID
    studentId.innerText = student.id;

    studentName = document.getElementById('student-name');
    studentName.innerText = student.name;
    studentName.contentEditable = false;

    studentNameSidebar = document.getElementById('student-sidebar-' + student.id);
    studentNameSidebar.innerText = student.name;

    studentBirthdate = document.getElementById('student-birthdate');
    studentBirthdate.value = student.birthdate;
    studentBirthdate.readOnly = true;

    studentGrade = document.getElementById('student-grade');
    studentGrade.selectedIndex = student.grade_level;
    studentGrade.disabled = true;
  }

  function addStudentToSidebar(student) {
    newDiv = document.createElement('div');
    newDiv.classList.add('selectable');
    newDiv.classList.add('sidebar-item');
    newDiv.onclick = function() { getStudent(student.id); };

    newText = document.createElement('h2');
    newText.id = 'student-sidebar-' + student.id;
    newText.innerText = student.name;
    newDiv.appendChild(newText);

    sidebar = document.getElementById('sidebar');
    sidebar.insertBefore(newDiv, sidebar.lastElementChild);
  }

  function resetNewStudent() {
    hide("new-student");
    document.getElementById('new-student-name').innerText = "";
    document.getElementById('new-student-birthdate').value = "";
    document.getElementById('new-student-grade').selectedIndex = 6;
  }

  function getStudentList() {
    http.get('/students').then((studentList) => {
      for (const student of studentList) { addStudentToSidebar(student); }
    });
  }

  function addCampToList(camp) {
    let title = document.createElement('p');
    title.innerText = camp.program.title;
    let titleBox = document.createElement('h2');
    titleBox.appendChild(title);

    let instructor = document.createElement('p');
    instructor.innerText = camp.primary_instructor.full_name;
    let instructorBox = document.createElement('span');
    instructorBox.appendChild(instructor);

    let tags = document.createElement('p');
    tags.innerText = camp.program.tags;
    let tagsBox = document.createElement('span');
    tagsBox.appendChild(tags);

    let gradeRange = document.createElement('p');
    gradeRange.innerText = camp.program.grade_range[0] + ' to ' + camp.program.grade_range[1];
    let gradeRangeBox = document.createElement('span');
    gradeRangeBox.appendChild(gradeRange);

    let startTime = document.createElement('input');
    startTime.setAttribute('type', 'datetime-local');
    startTime.value = camp.first_level_schedule.start_time;
    startTime.disabled = true;
    let startTimeBox = document.createElement('span');
    startTimeBox.appendChild(startTime);

    let newRow = document.createElement('div');
    let campsList = document.getElementById('camps-list');
    campsList.appendChild(newRow);
    insertCampRowContent(camp.id, newRow, titleBox, instructorBox, tagsBox, gradeRangeBox, startTimeBox);
  }

  function getStudent(id) {
    if (!id) { id = document.getElementById('student-id').innerText; }
    document.getElementById('camps-list').innerText = ""; // reset

    http.get('/students', id).then((student) => {
      displayStudent(student);
    });

    http.get('/students/' + id + '/camps').then((campList) => {
      for (let camp of campList) {
        const programPromise = http.get('/programs/' + camp.program_id);
        programPromise.then((program) => {
          camp.program = program;
        });

        let levelSchedulePromise = http.get('/camps/' + camp.program_id + '/levels');
        levelSchedulePromise.then((levelScheduleList) => {
          camp.first_level_schedule = levelScheduleList[0];
        });

        const instructorPromise = http.get('/camps/' + camp.id + '/instructors/' + camp.primary_instructor_id);
        instructorPromise.then((instructor) => {
          camp.primary_instructor = instructor;
        });

        Promise.all([programPromise, instructorPromise, levelSchedulePromise]).then((values) => {
          addCampToList(camp);
        });
      }
    });
  }

  function postStudent() {
    studentName = document.getElementById('new-student-name').innerText;
    studentBirthdate = document.getElementById('new-student-birthdate').value;
    studentGrade = document.getElementById('new-student-grade').selectedIndex;

    // TODO: create requirements for these values
    if (studentName !== "" && studentBirthdate !== "") {
      studentData = new StudentData(studentName, studentBirthdate, studentGrade);

      http.post('/students', studentData).then((student) => {
        addStudentToSidebar(student);
        displayStudent(student);
      });
    }
  }

  function putStudent() {
    studentId = document.getElementById('student-id').innerText;
    studentName = document.getElementById('student-name').innerText;
    studentBirthdate = document.getElementById('student-birthdate').value;
    studentGrade = document.getElementById('student-grade').selectedIndex;
    studentData = new StudentData(studentName, studentBirthdate, studentGrade);
    http.put('/students', studentId, studentData).then((student) => {displayStudent(student);});
  }

  function deleteStudent() {
    studentId = document.getElementById('student-id').innerText;
    http.delete('/students', studentId).then(() => {
      http.redirect('/students');
    });
  }
</script>
{% endblock %}

