{% extends 'base.html' %}

{% block content %}
  <span class='content-body'>
    <div class='content-item'>
      <h1>
        <span>Student Profile</span>
      </h1>
      <hr class='h-divider'></hr>
    </div>
    <div class='content-item'>
      <span><strong>Name: </strong><span id='student-name'></span></span>
    </div>
    <div class='content-item'>
      <span><strong>Birthdate: </strong><input type='date' id='student-birthdate' readonly></span>
    </div>
    <div class='content-item'>
      <span>
        <strong>Current grade level: </strong>
        <select type='select' id='student-grade' disabled>
          <option value="0">K</option>
          {% for grade in range(1,13) %}
            <option value="{{grade}}">{{grade}}</option>
          {% endfor %}
        </select>
      </span>
    </div>
    <div class='content-item'>
      <span><strong>Guardians: </strong></span>
    </div>
    <div class='content-item'><table id='guardians-table'>
      <!-- Guardians for this student added here as table rows -->
    </table></div>
  </span>
  <div class="v-divider"></div>
  <span class='content-body'>
    <div class='content-item'>
      <h1>Enrolled Camps</h1>
      <hr class='h-divider'></hr>
    </div>
    <div class='content-item' id='camps-list'>
    </div>
  </span>
{% endblock %}

{% block script %}
<script src="{{ url_for('js', path='/filtertable.js') }}"></script>
<script>
  const GuardianTblColIdx = {
      Name: 0,
      Email: 1
  };

  window.onload = function () {
    commonOnLoad();

    let campId = getCampIdStr();
    let studentId = getStudentIdStr();

    http.get('/camps/' + campId + '/students', studentId).then((student) => {
      displayStudent(student);
    });

    http.get('/camps/' + campId + '/students/' + studentId + '/camps').then((campList) => {
      for (let camp of campList) {
        const programPromise = http.get('/programs/' + camp.program_id);
        programPromise.then((program) => {
          camp.program = program;
        });

        let levelSchedulePromise = http.get('/camps/' + camp.program_id + '/levels');
        levelSchedulePromise.then((levelScheduleList) => {
          camp.first_level_schedule = levelScheduleList[0];
        });

        const instructorPromise = http.get('/camps/' + campId + '/instructors', camp.primary_instructor_id);
        instructorPromise.then((instructor) => {
          camp.primary_instructor = instructor;
        });

        Promise.all([programPromise, instructorPromise, levelSchedulePromise]).then((values) => {
          addCampToList(camp);
        });
      }
    });

    let colMeta = Array(Object.keys(GuardianTblColIdx).length).fill(null);
    colMeta[GuardianTblColIdx.Name] = new FilterTableColumnConfig('Name', DisplayType.Simple, 'tr', filterType=null, searchable=false, sortable=false);
    colMeta[GuardianTblColIdx.Email] = new FilterTableColumnConfig('Email', DisplayType.Simple, 'tr', filterType=null, searchable=false, sortable=false);

    let htmlTable = document.getElementById('guardians-table');
    let sortImages = ['{{ url_for("images", path="/levelup.png") }}', '{{ url_for("images", path="/leveldown.png") }}'];
    window.campsTable = new FilterTable(colMeta, htmlTable, 0, null, null, sortImages);

    http.get('/camps/' + campId + '/students/' + studentId + '/guardians').then((guardianList) => {
      for (const guardian of guardianList) {
        addGuardianToTable(guardian);
      }
    });
  }

  function getCampIdStr() {
    const urlAsArray = document.URL.split("/");
    return urlAsArray[urlAsArray.indexOf("teach")+1];
  }


  function getStudentIdStr() {
    const urlAsArray = document.URL.split("/");
    return urlAsArray[urlAsArray.indexOf("students")+1];
  }

  function displayStudent(student) {
    studentName = document.getElementById('student-name');
    studentName.innerHTML = student.name;

    studentBirthdate = document.getElementById('student-birthdate');
    studentBirthdate.value = student.birthdate;

    studentGrade = document.getElementById('student-grade');
    studentGrade.selectedIndex = student.grade_level;
  }

  function addGuardianToTable(guardian) {
    let newRow = window.campsTable.appendEmptyRow();
    newRow.setColValue(GuardianTblColIdx.Name, guardian.full_name);
    newRow.setColValue(GuardianTblColIdx.Email, guardian.primary_email_address);
  }


  function addCampToList(camp) {
    let title = document.createElement('p');
    title.innerText = camp.program.title;
    let titleBox = document.createElement('h2');
    titleBox.appendChild(title);

    let instructor = document.createElement('p');
    instructor.innerText = camp.primary_instructor.full_name;
    let instructorBox = document.createElement('span');
    instructorBox.appendChild(instructor);

    let tags = document.createElement('p');
    tags.innerText = camp.program.tags;
    let tagsBox = document.createElement('span');
    tagsBox.appendChild(tags);

    let gradeRange = document.createElement('p');
    gradeRange.innerText = camp.program.grade_range[0] + ' to ' + camp.program.grade_range[1];
    let gradeRangeBox = document.createElement('span');
    gradeRangeBox.appendChild(gradeRange);

    let startTime = document.createElement('input');
    startTime.setAttribute('type', 'datetime-local');
    startTime.value = camp.first_level_schedule.start_time;
    startTime.disabled = true;
    let startTimeBox = document.createElement('span');
    startTimeBox.appendChild(startTime);

    let newRow = document.createElement('div');
    let campsList = document.getElementById('camps-list');
    campsList.appendChild(newRow);
    insertCampRowContent(camp.id, newRow, titleBox, instructorBox, tagsBox, gradeRangeBox, startTimeBox);
  }


</script>
{% endblock %}

