{% extends 'base.html' %}

{% block content %}
  <span class='sidebar' id='sidebar'>
    <div>
      <h1><a class='selectable' href='/students'>My Students</a></h1>
      <hr class='h-divider'></hr>
    </div>
    <!-- Students added here -->
    <div class='selectable' onclick="unhide('new-student')"><p>+ Add Student</p></div>
  </span>
  <span class='content-body' id='content-body-1' hidden>
    <div>
      <h1>
        <span>Student Profile</span>
        <span><button class='selectable' id='student-edit' onclick='edit(["student-name", "student-birthdate", "student-grade"]); hide(["student-edit", "student-delete"]); unhide(["student-submit", "student-cancel"]);'>
          <img class='small-button' src="{{ url_for('images', path='/pencil.png') }}" alt='Edit'/>
        </button></span>
        <span><button class='selectable' id='student-submit' onclick='putStudent(); unhide(["student-edit", "student-delete"]); hide(["student-submit", "student-cancel"]);' hidden>
          <img class='small-button' src="{{ url_for('images', path='/confirm.png') }}" alt='Submit'/>
        </button></span>
        <span><button class='selectable' id='student-cancel' onclick='getStudent(null); unhide(["student-edit", "student-delete"]); hide(["student-submit", "student-cancel"]);' hidden>
          <img class='small-button' src="{{ url_for('images', path='/cancel.png') }}" alt='Cancel'/>
        </button></span>
      </h1>
      <hr class='h-divider'></hr>
    </div>
    <div hidden>
      <span><strong>ID: </strong><span id='student-id'></span></span>
    </div>
    <div>
      <span><strong>Name: </strong><span class='shorttext-box' id='student-name'></span></span>
    </div>
    <div>
      <span><strong>Birthdate: </strong><input type='date' id='student-birthdate'></span>
    </div>
    <div>
      <span>
        <strong>Current grade level: </strong>
        <select type='select' id='student-grade'>
          <option value="0">K</option>
          {% for grade in range(1,13) %}
            <option value="{{grade}}">{{grade}}</option>
          {% endfor %}
        </select>
      </span>
    </div>
    <div id='student-delete'>
      <button class='selectable' onclick="if (confirm('Are you sure you want to delete this student?')) { deleteStudent(); }">
        <span><img class='small-button' src="{{ url_for('images', path='/cancel.png') }}" alt='Delete'/></span>
        <span><strong>Delete Student</strong></span>
      </button>
    </div>
  </span>
  <div class="v-divider" id='content-body-2' hidden></div>
  <span class='content-body' id='content-body-3' hidden>
    <div>
      <h1>Enrolled Camps</h1>
      <hr class='h-divider'></hr>
    </div>
  </span>
  <div class='pop-up' id='new-student' hidden>
    <div>
      <h1>New Student</h1>
      <hr class='h-divider'></hr>
    </div>
    <div><strong >Name:</strong></div>
    <div><p contenteditable='true' id='new-student-name'></p></div>
    <div><strong>Birthdate:</strong></div>
    <div><input type='date' id='new-student-birthdate'></div>
    <div><strong>Current grade level:</strong></div>
    <div><select type='select' id='new-student-grade'>
      <option value="0">K</option>
      {% for grade in range(1,13) %}
        <option value="{{grade}}" {% if grade == 6 %} selected {% endif %}>{{grade}}</option>
      {% endfor %}
    </select></div>
    <div>
      <span><button class='selectable' onclick='postStudent(); resetNewStudent();'>
        <img class='small-button' src="{{ url_for('images', path='/confirm.png') }}" alt='Submit'/>
      </button></span>
      <span><button class='selectable' onclick='resetNewStudent();'>
        <img class='small-button' src="{{ url_for('images', path='/cancel.png') }}" alt='Cancel'/>
      </button></span>
    </div>
  </div>
{% endblock %}

{% block script %}
<script>
  function displayStudent(student) {
    unhide(["content-body-1", "content-body-2", "content-body-3"]);

    studentId = document.getElementById('student-id'); // not actually displayed right now, but this is where we stick the ID
    studentId.innerHTML = student.id;

    studentName = document.getElementById('student-name');
    studentName.innerHTML = student.name;
    studentName.contentEditable = false;

    studentNameSidebar = document.getElementById('student-sidebar-' + student.id);
    studentNameSidebar.innerHTML = student.name;

    studentBirthdate = document.getElementById('student-birthdate');
    studentBirthdate.value = student.birthdate;
    studentBirthdate.readOnly = true;

    studentGrade = document.getElementById('student-grade');
    studentGrade.selectedIndex = student.grade_level;
    studentGrade.disabled = true;
  }

  function addStudentToSidebar(student) {
    newDiv = document.createElement('div');
    newDiv.classList.add('selectable');
    newDiv.onclick = function() { getStudent(student.id); };

    newText = document.createElement('p');
    newText.id = 'student-sidebar-' + student.id;
    newText.innerText = student.name;
    newDiv.appendChild(newText);

    sidebar = document.getElementById('sidebar');
    sidebar.insertBefore(newDiv, sidebar.lastElementChild);
  }

  function resetNewStudent() {
    hide("new-student");
    document.getElementById('new-student-name').innerHTML = "";
    document.getElementById('new-student-birthdate').value = "";
    document.getElementById('new-student-grade').selectedIndex = 6;
  }

  function getStudentList() {
    http.get('/students').then((studentList) => {
      for (const student of studentList) { addStudentToSidebar(student); }
    });
  }
  getStudentList(); // we do this once

  function getStudent(id) {
    if (!id) { id = document.getElementById('student-id').innerHTML; }
    http.get('/students', id).then((student) => {displayStudent(student);});
  }

  function postStudent() {
    studentName = document.getElementById('new-student-name').innerHTML;
    studentBirthdate = document.getElementById('new-student-birthdate').value;
    studentGrade = document.getElementById('new-student-grade').selectedIndex;

    // TODO: create requirements for these values
    if (studentName !== "" && studentBirthdate !== "") {
      studentData = new StudentData(studentName, studentBirthdate, studentGrade);

      http.post('/students', studentData).then((student) => {
        addStudentToSidebar(student);
        displayStudent(student);
      });
    }
  }

  function putStudent() {
    studentId = document.getElementById('student-id').innerHTML;
    studentName = document.getElementById('student-name').innerHTML;
    studentBirthdate = document.getElementById('student-birthdate').value;
    studentGrade = document.getElementById('student-grade').selectedIndex;
    studentData = new StudentData(studentName, studentBirthdate, studentGrade);
    http.put('/students', studentId, studentData).then((student) => {displayStudent(student);});
  }

  function deleteStudent() {
    studentId = document.getElementById('student-id').innerHTML;
    http.delete('/students', studentId);
    http.redirect('/students');
  }
</script>
{% endblock %}

