{% extends 'base.html' %}

{% block content %}
  <div class='content-body'>
    <div class='content-item'><h1>My Camps</h1></div>
    <div class='content-item'><div class='search-box'>
      <span><img class='small-button' src="{{ url_for('images', path='/search.png') }}" alt='Search'/></span>
      <span><p contenteditable=true id='search-box-text'></p></span>
      <span><span class='selectable' onclick='window.campsTable.resetSearchBox();'>
        <img class='small-button' src="{{ url_for('images', path='/cancel.png') }}" alt='Cancel'/>
      </span></span>
    </div></div>
    <div class='content-item'><table id='camps-table'>
      <!-- Camps table rows inserted here -->
    </table></div>
  </div>
{% endblock %}

{% block script %}
<script src="{{ url_for('js', path='/filtertable.js') }}"></script>
<script src="{{ url_for('js', path='/searchlist.js') }}"></script>
<script>
  // One-time setup
  window.onload = function() {
    commonOnLoad();

    colMeta = [];
    colMeta.push(new FilterTableColumn('Program Title', DisplayType.Simple, 'tr', 'program.title', filterType=null, searchable=true, sortable=true));
    colMeta.push(new FilterTableColumn('Start Time', DisplayType.Datetime, 'tr', 'first_level_schedule.start_time', filterType=null, searchable=true, sortable=true));

    let htmlTable = document.getElementById('camps-table');
    let tableSearchBox = document.getElementById('search-box-text');
    window.campsTable = new FilterTable(colMeta, htmlTable, 0, null, tableSearchBox, sortImages=['{{ url_for("images", path="/levelup.png") }}', '{{ url_for("images", path="/leveldown.png") }}']);

    http.get('/teach').then((campList) => {
      for (let camp of campList) {
        http.get('/programs/' + camp.program_id).then((program) => {
          camp.program = program;
          http.get('/programs/' + camp.program_id + '/levels').then((levelList) => {
            http.get('/camps/' + camp.id + '/levels/' + levelList[0].id).then((firstLevelSchedule) => {
              camp.first_level_schedule = firstLevelSchedule;
              http.get('/camps/' + camp.id + '/instructors/' + camp.primary_instructor_id).then((instructor) => {
                camp.primary_instructor = instructor;
                addCampToTable(camp);
              });
            });
          });
        });
      }
    });
  }

  function addCampToTable(camp) {
    let newRow = window.campsTable.appendRow(camp);
    newRow.classList.add('selectable');
    newRow.campId = camp.id;

    commonOnClick = function() {
      row = this.parentNode;
      http.redirect('/teach/' + row.campId);
    };
    for (let col of newRow.childNodes) col.onclick = commonOnClick;
  }
</script>
{% endblock %}
