{% extends 'base.html' %}

{% block content %}
  <span class='content-body'>
    <div class='content-item'>
      <h1><span>Camp</span></h1>
      <hr class='h-divider'></hr>
    </div>
    <div class='content-item'>
      <span><strong>Program: </strong><span class='selectable'><a id='program-title'/></span></span>
    </div>
    <div class='content-item'>
      <span><strong>Instructors: </strong></span>
    </div>
    <div class='content-item'>
      <div id='instructors-box' class='listbox'>
        <!-- List of instructors assigned to this camp here -->
      </div>
    </div>
    <div class='content-item'>
      <span><strong>Enrolled students: </strong></span>
    </div>
    <div class='content-item'><div id='students-box' class='listbox'>
      <!-- List of students enrolled in this camp here -->
      <div><p>(None)</p></div>
    </div></div>
  </span>
  <div class="v-divider"></div>
  <span class='content-body'>
    <div class='content-item'><h1>Schedule</h1><hr class='h-divider'></hr></div>
    <div class='content-item'><table id='levels-table'>
      <!-- Levels table rows inserted here -->
    </table></div>
  </span>
{% endblock %}

{% block script %}
<script src="{{ url_for('js', path='/searchlist.js') }}"></script>
<script src="{{ url_for('js', path='/filtertable.js') }}"></script>
<script>
  // One-time setup
  window.onload = function() {
    commonOnLoad();

    campId = getCampIdStr();

    colMeta = [];
    colMeta.push(new FilterTableColumn('Level', DisplayType.Simple, 'tr', 'list_index', null, false));
    colMeta.push(new FilterTableColumn('Title', DisplayType.Simple, 'tr', 'title', null, true));
    colMeta.push(new FilterTableColumn('Start Time', DisplayType.Datetime, 'tr', 'levelSchedule.start_time', null, true));
    colMeta.push(new FilterTableColumn('End Time', DisplayType.Datetime, 'tr', 'levelSchedule.end_time', null, true));

    let htmlTable = document.getElementById('levels-table');
    window.userTable = new FilterTable(colMeta, htmlTable, 0, null, null);

    http.get('/camps/' + campId).then((camp) => {
      window.camp = camp;
      http.get('/programs/' + camp.program_id).then((program) => {
        http.get('/programs/' + camp.program_id + '/levels').then((levelList) => {
          for (let level of levelList) {
            http.get('/camps/' + campId + '/levels/' + level.id).then((levelSchedule) => {
              level.levelSchedule = levelSchedule;
              addLevelToTable(level);
            });
          }
        });
        let programTitle = document.getElementById('program-title');
        programTitle.innerText = program.title;
        programTitle.href = '/programs/' + program.id;
      });

      http.get('/camps/' + campId + '/instructors').then((instructorList) => {
        for (const instructor of instructorList) {
          addInstructorToList(instructor);
        }
      });

      http.get('/camps/' + campId + '/students').then((studentList) => {
        if (studentList.length > 0) {
          let studentsBox = document.getElementById('students-box');
          studentsBox.firstElementChild.remove();
        }
        for (const student of studentList) {
          addStudentToList(student);
        }
      });
    });
  }

  function getCampIdStr() {
    const urlAsArray = document.URL.split("/");
    return urlAsArray[urlAsArray.indexOf("teach")+1];
  }

  function addLevelToTable(level) {
    let newRow = window.userTable.appendRow(level);
  }

  function addInstructorToList(instructor) {
    let instructorBox = document.getElementById('instructors-box');

    let link = document.createElement('a');
    link.innerText = instructor.full_name + ' (' + instructor.primary_email_address + ')';
    link.href = '/insructors/' + instructor.id;

    let box = document.createElement('div');
    box.classList.add('selectable');
    box.appendChild(link);
    instructorBox.appendChild(box);
  }

  function addStudentToList(student) {
    let text = document.createElement('p');
    text.innerText = student.name;

    let box = document.createElement('div');
    box.appendChild(text);

    let studentsBox = document.getElementById('students-box');
    studentsBox.appendChild(box);
  }

</script>
{% endblock %}
