{% extends 'base.html' %}

{% block content %}
  <div class='content-body'>
    <div class='content-item'><h1>My Camps</h1></div>
    <div class='content-item'><div class='search-box'>
      <span><img class='small-button' src="{{ url_for('images', path='/search.png') }}" alt='Search'/></span>
      <span><p contenteditable=true id='search-box-text'></p></span>
      <span><span class='selectable' onclick='window.campsTable.resetSearchBox();'>
        <img class='small-button' src="{{ url_for('images', path='/cancel.png') }}" alt='Cancel'/>
      </span></span>
    </div></div>
    <div class='content-item'><table id='camps-table'>
      <!-- Camps table rows inserted here -->
    </table></div>
  </div>
{% endblock %}

{% block script %}
<script src="{{ url_for('js', path='/filtertable.js') }}"></script>
<script src="{{ url_for('js', path='/searchlist.js') }}"></script>
<script>
  const CampTblColIdx = {
      Title: 0,
      StartTime: 1
  };

  window.onload = function() {
    commonOnLoad();

    let colMeta = Array(Object.keys(CampTblColIdx).length).fill(null);
    colMeta[CampTblColIdx.Title] = new FilterTableColumnConfig('Program Title', DisplayType.Simple, 'tr', filterType=null, searchable=true, sortable=true);
    colMeta[CampTblColIdx.StartTime] = new FilterTableColumnConfig('Start Time', DisplayType.Datetime, 'tr', filterType=null, searchable=false, sortable=true);

    let htmlTable = document.getElementById('camps-table');
    let tableSearchBox = document.getElementById('search-box-text');
    let sortImages = ['{{ url_for("images", path="/levelup.png") }}', '{{ url_for("images", path="/leveldown.png") }}'];
    window.campsTable = new FilterTable(colMeta, htmlTable, 0, null, tableSearchBox, sortImages);

    http.get('/teach').then((campList) => {
      campsPromises = [];
      for (const camp of campList) {
        let campRow = addCampToTable(camp);

        const programPromise = http.get('/programs/' + camp.program_id);
        programPromise.then((program) => {
          campRow.setColValue(CampTblColIdx.Title, program.title);
        });
        campsPromises.push(programPromise);

        http.get('/programs/' + camp.program_id + '/levels').then((levelList) => {
          http.get('/camps/' + camp.id + '/levels/' + levelList[0].id).then((firstLevelSchedule) => {
            campRow.setColValue(CampTblColIdx.StartTime, firstLevelSchedule.start_time);
          });
        });
      }
      Promise.all(campsPromises).then((values) => {
        window.campsTable.sort();
      });
    });
  }

  function addCampToTable(camp) {
    let newRow = window.campsTable.appendEmptyRow();
    newRow.classList.add('selectable');
    newRow.campId = camp.id;

    commonOnClick = function() {
      row = this.parentNode;
      http.redirect('/teach/' + row.campId);
    };
    for (let col of newRow.childNodes) col.onclick = commonOnClick;

    return newRow;
  }
</script>
{% endblock %}
