{% extends 'base.html' %}

{% block content %}
  <span class='content-body'>
    <div class='content-item'>
      <h1><span>Camp</span></h1>
      <hr class='h-divider'></hr>
    </div>
    <div class='content-item'>
      <span><strong>Program: </strong><span class='selectable'><a id='program-title'/></span></span>
    </div>
    <div class='content-item'>
      <span><strong>Instructors: </strong></span>
    </div>
    <div class='content-item'>
      <div id='instructors-box' class='listbox'>
        <!-- List of instructors assigned to this camp here -->
      </div>
    </div>
    <div class='content-item'>
      <span><strong>Enrolled students: </strong></span>
    </div>
    <div class='content-item'><div id='students-box' class='listbox'>
      <!-- List of students enrolled in this camp here -->
      <div><p>(None)</p></div>
    </div></div>
  </span>
  <div class="v-divider"></div>
  <span class='content-body'>
    <div class='content-item'><h1>Schedule</h1><hr class='h-divider'></hr></div>
    <div class='content-item'><table id='levels-table'>
      <!-- Levels table rows inserted here -->
    </table></div>
  </span>
{% endblock %}

{% block script %}
<script src="{{ url_for('js', path='/searchlist.js') }}"></script>
<script src="{{ url_for('js', path='/filtertable.js') }}"></script>
<script>
  const LevelTblColIdx = {
      Level: 0,
      Title: 1,
      StartTime: 2,
      EndTime: 3
  };

  window.onload = function() {
    commonOnLoad();

    campId = getCampIdStr();

    let colMeta = Array(Object.keys(LevelTblColIdx).length).fill(null);
    colMeta[LevelTblColIdx.Level] = new FilterTableColumnConfig('Level', DisplayType.Simple, 'tr', filterType=null, searchable=false, sortable=true);
    colMeta[LevelTblColIdx.Title] = new FilterTableColumnConfig('Title', DisplayType.Simple, 'tr', filterType=null, searchable=true, sortable=true);
    colMeta[LevelTblColIdx.StartTime] = new FilterTableColumnConfig('Start Time', DisplayType.Datetime, 'tr', filterType=null, searchable=false, sortable=false);
    colMeta[LevelTblColIdx.EndTime] = new FilterTableColumnConfig('End Time', DisplayType.Datetime, 'tr', filterType=null, searchable=false, sortable=false);

    let htmlTable = document.getElementById('levels-table');
    let sortImages = ['{{ url_for("images", path="/levelup.png") }}', '{{ url_for("images", path="/leveldown.png") }}'];
    window.levelsTable = new FilterTable(colMeta, htmlTable, 0, null, null, sortImages);

    http.get('/camps/' + campId).then((camp) => {
      window.camp = camp;
      http.get('/programs/' + camp.program_id).then((program) => {
        let programTitle = document.getElementById('program-title');
        programTitle.innerText = program.title;
        programTitle.href = '/programs/' + program.id;
      });

      http.get('/programs/' + camp.program_id + '/levels').then((levelList) => {
        for (const level of levelList) {
          let levelRow = window.levelsTable.appendEmptyRow();
          http.get('/camps/' + campId + '/levels/' + level.id).then((levelSchedule) => {
            levelRow.setColValue(LevelTblColIdx.StartTime, levelSchedule.start_time);
            levelRow.setColValue(LevelTblColIdx.EndTime, levelSchedule.end_time);
          });

          levelRow.setColValue(LevelTblColIdx.Level, level.list_index);
          levelRow.setColValue(LevelTblColIdx.Title, level.title);
        }
        window.levelsTable.sort();
      });

      http.get('/camps/' + campId + '/instructors').then((instructorList) => {
        for (const instructor of instructorList) {
          addInstructorToList(instructor);
        }
      });

      http.get('/camps/' + campId + '/students').then((studentList) => {
        if (studentList.length > 0) {
          let studentsBox = document.getElementById('students-box');
          studentsBox.firstElementChild.remove();
        }
        for (const student of studentList) {
          addStudentToList(student);
        }
      });
    });
  }

  function getCampIdStr() {
    const urlAsArray = document.URL.split("/");
    return urlAsArray[urlAsArray.indexOf("teach")+1];
  }

  function addInstructorToList(instructor) {
    let instructorBox = document.getElementById('instructors-box');

    let link = document.createElement('a');
    link.innerText = instructor.full_name + ' (' + instructor.primary_email_address + ')';
    link.href = '/insructors/' + instructor.id;

    let box = document.createElement('div');
    box.classList.add('selectable');
    box.appendChild(link);
    instructorBox.appendChild(box);
  }

  function addStudentToList(student) {
    let text = document.createElement('p');
    text.innerText = student.name;

    let link = document.createElement('a');
    link.href = '/teach/' + window.camp.id + '/students/' + student.id;
    link.appendChild(text);

    let box = document.createElement('div');
    box.classList.add('selectable');
    box.appendChild(link);

    let studentsBox = document.getElementById('students-box');
    studentsBox.appendChild(box);
  }

</script>
{% endblock %}
