name: Deploy

on:
  workflow_call:
    inputs:
      runner:
        description: "Runner label (e.g. new-runner, active-deployment)"
        required: true
        type: string

jobs:
  Deploy:
    runs-on: ${{ inputs.runner }}
    steps:
      - name: Test AWS secrets
        run: |
          echo "AWS_ACCESS_KEY_ID length: ${#AWS_ACCESS_KEY_ID}"
          echo "AWS_SECRET_ACCESS_KEY length: ${#AWS_SECRET_ACCESS_KEY}"
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Login to Amazon ECR
        env:
          ECR_REGISTRY: ${{ secrets.ECR_REGISTRY }}
        run: aws ecr get-login-password | docker login -u AWS --password-stdin https://$ECR_REGISTRY

      - name: Pull docker image
        env:
          ECR_REGISTRY: ${{ secrets.ECR_REGISTRY }}
          ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY }}
        run: |
          docker pull $ECR_REGISTRY/$ECR_REPOSITORY:lul-app
          docker pull $ECR_REGISTRY/$ECR_REPOSITORY:lul-api

      - name: Restart docker container from new image
        env:
          ECR_REGISTRY: ${{ secrets.ECR_REGISTRY }}
          ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY }}
        run: |
          docker stop lul-app || true
          docker stop lul-api || true
          docker rm lul-app || true
          docker rm lul-api || true
          docker run -d --restart unless-stopped --name lul-app -p 8080:8080 $ECR_REGISTRY/$ECR_REPOSITORY:lul-app
          docker run -d --restart unless-stopped --env-file ~/lul.env --name lul-api -p 3000:3000 $ECR_REGISTRY/$ECR_REPOSITORY:lul-api

      - name: Prune and pull down email container
        env:
          ECR_REGISTRY: ${{ secrets.ECR_REGISTRY }}
          ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY }}
        run: |
          docker image prune -a -f
          docker pull $ECR_REGISTRY/$ECR_REPOSITORY:lul-email
          docker pull $ECR_REGISTRY/$ECR_REPOSITORY:lul-cert