name: Deploy

on:
  workflow_call:
    inputs:
      runner:
        description: "Runner label (e.g. new-runner, active-deployment)"
        required: true
        type: string
    secrets:
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true
      ECR_REGISTRY:
        required: true
      ECR_REPOSITORY:
        required: true

jobs:
  Deploy:
    runs-on: ${{ inputs.runner }}
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Login to Amazon ECR
        env:
          ECR_REGISTRY: ${{ secrets.ECR_REGISTRY }}
        run: aws ecr get-login-password | sudo docker login -u AWS --password-stdin https://$ECR_REGISTRY

      - name: Pull docker image
        env:
          ECR_REGISTRY: ${{ secrets.ECR_REGISTRY }}
          ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY }}
        run: |
          sudo docker pull $ECR_REGISTRY/$ECR_REPOSITORY:lul-app
          sudo docker pull $ECR_REGISTRY/$ECR_REPOSITORY:lul-api

      - name: Restart docker container from new image
        env:
          ECR_REGISTRY: ${{ secrets.ECR_REGISTRY }}
          ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY }}
        run: |
          sudo docker stop lul-app || true
          sudo docker stop lul-api || true
          sudo docker rm lul-app || true
          sudo docker rm lul-api || true
          sudo docker run -d --restart unless-stopped --name lul-app -p 8080:8080 $ECR_REGISTRY/$ECR_REPOSITORY:lul-app
          sudo docker run -d --restart unless-stopped --env-file ~/lul.env --name lul-api -p 3000:3000 $ECR_REGISTRY/$ECR_REPOSITORY:lul-api

      - name: Prune and pull down email container
        env:
          ECR_REGISTRY: ${{ secrets.ECR_REGISTRY }}
          ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY }}
        run: |
          sudo docker image prune -a -f
          sudo docker pull $ECR_REGISTRY/$ECR_REPOSITORY:lul-email
          sudo docker pull $ECR_REGISTRY/$ECR_REPOSITORY:lul-cert