name: New Server Setup

on:
  workflow_dispatch:

jobs:
  Core:
    runs-on: [new-runner]
    steps:
      - name: Set up docker
        run: |
          sudo apt update
          sudo apt-get update

  Docker:
    needs: [Core]
    runs-on: [new-runner]
    steps:
      - name: Set up docker
        run: |
          # Add Docker's official GPG key:
          sudo apt-get install ca-certificates curl
          sudo install -m 0755 -d /etc/apt/keyrings
          sudo curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
          sudo chmod a+r /etc/apt/keyrings/docker.asc

          # Add the repository to Apt sources:
          echo \
            "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu \
            $(. /etc/os-release && echo "${UBUNTU_CODENAME:-$VERSION_CODENAME}") stable" | \
            sudo tee /etc/apt/sources.list.d/docker.list > /dev/null
          sudo apt-get update

          sudo apt-get install docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin
          sudo service docker start
          sudo groupadd docker || true
          sudo usermod -aG docker $USER || true

  Nginx:
    needs: [Core]
    runs-on: [new-runner]
    steps:
      - name: Set up nginx
        run: |
          sudo apt install -y nginx
          sudo cp /home/ubuntu/lul-scripts/nginx.conf /etc/nginx/nginx.conf
          sudo cp /home/ubuntu/lul-scripts/lul_nginx_ec2.conf /etc/nginx/conf.d/lul_nginx_ec2.conf

  Deploy:
    needs: [Docker]
    uses: ./.github/workflows/deploy.yml
    with:
      runner: new-runner
