name: Level Up Learning React/FastAPI CI/CD for AWS EC2 with Docker

on:
  push:
    branches:
      - main

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Cache pip dependencies
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements*.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Set up virtual environment
        run: |
          python3 -m venv virt
          source virt/bin/activate
          pip install --upgrade pip
          pip install -r api/requirements.txt

      - name: Run Tests
        env:
          DB_USER: ${{ secrets.DB_USER }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_PORT: ${{ secrets.DB_PORT }}
          DB_HOST: ${{ secrets.DB_HOST }}
        run: |
          . virt/bin/activate
          cd api
          export PYTHONPATH=.
          pytest

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

      - name: Login to Amazon ECR
        env:
          ECR_REGISTRY: ${{ secrets.ECR_REGISTRY }}
        run: aws ecr get-login-password | docker login -u AWS --password-stdin https://$ECR_REGISTRY

      - name: Build, tag, and push image to Amazon ECR
        env:
          GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
          SQUARE_APPLICATION_ID: ${{ secrets.SQUARE_APPLICATION_ID }}
          SQUARE_LOCATION_ID: ${{ secrets.SQUARE_LOCATION_ID }}
          ECR_REGISTRY: ${{ secrets.ECR_REGISTRY }}
          ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY }}
        run: |
          printf "VITE_GOOGLE_CLIENT_ID=$GOOGLE_CLIENT_ID\nVITE_API_URL=/api\nVITE_SQUARE_APPLICATION_ID=$SQUARE_APPLICATION_ID\nVITE_SQUARE_LOCATION_ID=$SQUARE_LOCATION_ID" > app/.env
          touch api/.env
          docker compose build
          docker tag lul-app $ECR_REGISTRY/$ECR_REPOSITORY:lul-app
          docker tag lul-api $ECR_REGISTRY/$ECR_REPOSITORY:lul-api
          docker tag lul-api $ECR_REGISTRY/$ECR_REPOSITORY:lul-email
          docker tag lul-api $ECR_REGISTRY/$ECR_REPOSITORY:lul-cert
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:lul-app
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:lul-api
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:lul-email
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:lul-cert

  CD:
    needs: [CI]
    uses: ./.github/workflows/deploy.yml
    with:
      runner: active-deployment
