name: New Server Setup

on:
  workflow_dispatch:

jobs:
  Docker:
    runs-on: [new-runner]
    steps:
      - name: Set up docker
        run: |
          sudo yum install docker
          sudo service docker start

  Nginx:
    runs-on: [new-runner]
    steps:
      - name: Set up nginx
        run: |
          sudo yum install nginx
          sudo mv /home/ec2-user/lul-scripts/nginx.conf /etc/nginx/nginx.conf
          sudo mv /home/ec2-user/lul-scripts/lul_nginx_ec2.conf /etc/nginx/conf.d/lul_nginx_ec2.conf

  Deploy:
    uses: ./.github/workflows/deploy.yml
    with:
      runner: new-runner
