name: New Server Setup

on:
  workflow_dispatch:

jobs:
  Core:
    runs-on: [new-runner]
    steps:
      - name: Set up docker
        run: |
          sudo apt update
          sudo apt install -y apt-transport-https ca-certificates curl software-properties-common

  Docker:
    needs: [Core]
    runs-on: [new-runner]
    steps:
      - name: Set up docker
        run: |
          curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo gpg --dearmor -o /usr/share/keyrings/docker-archive-keyring.gpg
          echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/docker-archive-keyring.gpg] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable" | sudo tee /etc/apt/sources.list.d/docker.list > /dev/null
          sudo apt update
          sudo apt install -y docker-ce docker-ce-cli containerd.io
          sudo service docker start
          sudo groupadd docker
          sudo usermod -aG docker $USER

  Nginx:
    needs: [Core]
    runs-on: [new-runner]
    steps:
      - name: Set up nginx
        run: |
          sudo apt install -y nginx
          sudo cp /home/ubuntu/lul-scripts/nginx.conf /etc/nginx/nginx.conf
          sudo cp /home/ubuntu/lul-scripts/lul_nginx_ec2.conf /etc/nginx/conf.d/lul_nginx_ec2.conf

  Deploy:
    needs: [Docker]
    uses: ./.github/workflows/deploy.yml
    with:
      runner: new-runner
